---
excerpt: codesake.com &egrave; una piattaforma online di analisi del codice per l'individuazione di problemi di sicurezza
kind: startup
publish: true
lang: [it]
tags: [misc, sast, code review, code auditing, application security, appsec]
name: "Codesake.Com"
url: http://www.codesake.com
place: Gessate
---

%p
  %a{:href=>'http://www.codesake.com'}Codesake
  &egrave; una piattaforma online pensata principalmente per gli sviluppatori
  dove potranno essere eseguiti dei test di sicurezza sul codice che gli stessi sviluppatori hanno in hosting su 
  %a{:href=>'http://www.github.com'}github.com.
%p
  Il concetto &egrave; molto semplice. Ogni sviluppatore potr&agrave; collegare
  al proprio account su codesake.com un numero di repository in hosting sul
  proprio account github a seconda del proprio profilo. 
%p
  Su codesake.com lo sviluppatore potr&agrave; acquistare i security check che
  il sistema metter&agrave; a disposizione per eseguire delle vere e proprie
  code review sul proprio codice.

%p
  Saranno attive le funzionalit&agrave; di revisione collaborativa per gli
  utenti di codesake.com che lo sviluppatore vorr&agrave; inserire nel suo team
  di lavoro ed un sistema di badge far&agrave; in modo che i code reviewer
  pi&ugrave; bravi scalino le posizioni della speciale classifica a loro
  destinata.


