---
excerpt: Il 2012 si apre con una foto di una spiaggia di inverno e la lettura della biografia di Steve Jobs. Due cose affascinanti e complementari.\
kind: article
publish: true
lang: [it]
tags: [progetti, appsec, owasp, flender, discovery, sast, steve jobs, apple, dettagli, strategia, sviluppi nuovi, futuro]
title: "Orizzonti"
url: 
place: Sottomarina di Chioggia
---

%p
  %img{:src=>'www.flickr.com/photos/81512358@N00/6634990949', :width=>'320px', :height=>'240px'}

%p
  L'immagine di una spiaggia in inverno è un'immagine potente. Lascia spaziare
  lo sguardo e non costringe la mente al cliché mentale dell'equazione
  "mare=vacanza+caciara".
  %br
  Di fronte a tanto campo visivo mi sono soffermato a pensare a passi della
  biografia del CEO Apple e a quanto come imprenditore fosse ossessionato da
  controllo e dettagli. Un carattere a tratti maniacale che però non difettava
  di visione strategica. Scenario pulito. Niente cliché. Capacità di vedere al
  di là.

%p
  Cose queste che sinceramente non vedo neanche nella new generation degli
  startupper nostrani più ansiosi di trovare un VC con dei soldi che desiderosi
  di mostrare un prodotto... ancor prima che innovativo, un prodotto.
%p
  Mi sono chiesto cosa rappresentano flender e discovery... se due embrioni di
  codesake.com o due semplici esercizi di stile per tenere le dita impegnate.
  Mi sono domandato se la mia ansia da prestazione circa il codice sicuro non
  mi limiti la visione... non mi costringa a pensare al software da un punto di
  vista totalmente sbagliato. 
  %br
  A volte penso poi che la scarsa attenzione nel campo dell'application
  security mi demotivi un po'... a volte sono distruttivo e penso che in fondo
  non importi a nessuno che ci sia una piattaforma di codice collaborativo che
  unisca github alla security e alla code review. A volte sono meno distruttivo
  e penso che in fondo magari sono io che non vedo il problema dal punto giusto
  per far venir fuori "quel" qualcosa.

