---
excerpt: Installing #rvm, #sinatra and all my daily used gems in my brand new Lion powered mac resulted in a mess of error. But a misleading message drove me away far from the solution
kind: article
publish: true
lang: [en]
tags: [ruby, rvm, sinatra, error messages, user experience, pow, lion, discovery, rack, datamapper]
title: "When a proper error message makes the difference"
url: 
place: Milan
---
%p
  Look at this error:
  %img{:src=>'/images/rack_lint_error.png'}
  %br
  What would you thin about to solve it?
%p
  Let's make a step behind. Yesterday I was crazy about solving the mess Xcode
  4.2 caused to my system about a broken C compiler that made me unable to
  install properly rvm, ruby and gems. The system didn't work and I solved
  installing an Apple provided
  %a{:href=>'https://github.com/kennethreitz/osx-gcc-installer'}
    gcc package.
%p
  When I saw at a Rack::Lint error, I suspected something went wrong about gem
  installing or that there was something yet compiled with the broken #gcc. So
  I started the uninstall/install quest, trying to recompile all with the new #gcc.
  %br
  This didn't solve my problems, the exception was still there.
%p
  I finally decided to look 
  %strong
    all
  the error page, sinatra was giving me back and I noticed this
  %a{:href=>'http://datamapper.org'}
    datamapper
  error.
  %br
  %img{:src=>'/images/sinatra.png'}
%p 
  What the hell... I have an old DB on my repo and I just need to migrate all
  the new models in order to create appropriate tables.
  %br
  Just run
  %code
    bin/discovery --init-db
  and everything went in place.
%p
  I guess that the datamapper error would be propagated at the top of
  exceptions, would me make me solve this issue in 5 minutes instead of 1/2
  day.
