---
title: about thesp0nge
---

.content
  %p
    Paolo nasce in un caldo pomeriggio del 1976 a Milano. Fin dall'et&agrave; di
    5 anni, Paolo inizia a smontare i propri giochi per carpirne i
    meccanismi interni, raramente fu in grado di rimontare i pezzi al loro
    posto. L'infanzia di Paolo quindi fu piena di giochi rotti ed
    inutilizzabili, tuttavia a 5 anni sapeva cosa muoveva le sue
    macchinine.
    %br
    Possiamo chiamare questa fase della vita di Paolo: 'Breaking the law'
  %p
    Appena scoprì i computer, Paolo fu affascinato dall'attivi&agrave; di
    riparare il software che 'rompeva'. Iniziò mettendo patch ai buffer
    overflow, format bug e altre amenit&agrave; tipiche dei tool C dei primi anni
    '90. Era il 1996 e Paolo scoprì Linux, il networking e la
    programmazione in kernel land. Erano gli anni in cui i Pink Floyd
    erano in loop nel suo walkman.
    %br
    Possiamo chiamare questa fase della vita di Paolo: 'Quindi mi stai
    dicendo che il tuo instruction Pointer è pieno di 0x41?
  %p
    Oggigiorno Paolo ha focalizzato il proprio interesse nel fare
    revisioni e scrivere fix per codice scritto in maniera insicura,
    questo lo ha trasformato in un application security specialist che
    scrive software per una web agency italiana. 
  %p 
    Paolo ha un proprio side project come Indepentent Software Vendor come
    armoredcode.com ed è coinvolto in Owasp come project leader di Owasp Orizon
    (un motore open per code review) e per Owasp Esapi Ruby - il porting delle
    librerie ESAPI in Ruby.
    %br
    Paolo &egrave; membro del board di Owasp Italia
    %br
    Sono gli anni in cui i Pearl Jam e metal anni '80 riempiono il lettore
    MP3 di Paolo che è anche un marito, un padre orgoglioso, un
    chitarrista ed un'aspirante cintura nera di Taekwondo-ITF.
    %br
    Possiamo chiamare questa fase della vita di Paolo: 'Stay hungry, stay foolish'
