---
title: about thesp0nge
---

.content#about

  %p
    Paolo nasce in un caldo pomeriggio del 1976 a Milano. Gi&agrave; in tenera et&agrave;
    Paolo inizia a smontare i propri giochi per capirne il funzionamento.
    Purtroppo raramente fu in grado di rimontare i pezzi al loro
    posto. La sua infanzia fu quindi piena di giochi rotti ed
    inutilizzabili, tuttavia a 5 anni sapeva cosa muoveva le sue
    macchinine.
    %br
    Possiamo chiamare questa fase della vita di Paolo: 'Breaking the law'
  %p
    Scoperto il C, Linux e la fine arte di creare software, Paolo fu subito
    affascinato dall'attivi&agrave; di riparare tutto ciò che...
    inavvertitamente veniva rotto. Iniziò mettendo patch ai buffer overflow,
    format bug e altre amenit&agrave; tipiche dei tool C dei primi anni '90.
    Nel 1996 Paolo scopre il networking e la programmazione in kernel land.
    Erano gli anni in cui i Pink Floyd erano in loop nel suo walkman.  
    %br
    Possiamo chiamare questa fase della vita di Paolo: 'Quindi mi stai
    dicendo che il tuo instruction Pointer è pieno di 0x41?
  %p
    Nel nuovo millennio, Paolo ha focalizzato il proprio interesse nel fare
    revisioni del codice e scriverne fix per correggere problemi di sicurezza.
    %br
    Ama ancora creare web application e lo fa principalmente con Ruby ed il
    framework Rails utilizzando tecniche di Behaviour Driven Development.
    %br
    Questo lo ha trasformato in un application security specialist che
    scrive software per una web agency italiana. 
  %p 
    Paolo ha un proprio side project come Indepentent Software Vendor come
    %a{:href=>'http://www.armoredcode.com'}
      armoredcode.com
    &Egrave; coinvolto in Owasp come project leader di Owasp Orizon
    (un motore open per code review) e per Owasp Esapi Ruby - il porting delle
    librerie ESAPI in Ruby.
    %br
    Paolo &egrave; membro del board di Owasp Italia
    %br
    Sono gli anni in cui i Pearl Jam e metal anni '80 riempiono il lettore
    MP3 di Paolo che è anche un marito, un padre orgoglioso, un
    chitarrista ed un'aspirante cintura nera di Taekwondo-ITF.
    %br
    Possiamo chiamare questa fase della vita di Paolo: 'Stay hungry, stay foolish'
