---
title: Articles I wrote about application security
kind: page
---

.hero-unit
  %h1
    Articles I wrote about application security
  %p
    I love writing, that's why I have a blog. I love application security too,
    that's why sometimes I write articles about application security. 
.row
  .span15
    %h2
      Developers are from Venus and Application security guys are from Mars
    %span
      %img{:src=>'/images/en.png'}
    %time{:datetime=>'2011-11-11'}
      11
      %sup
        st   
      November 2011
    %a.btn{:href=>'http://urlin.it/1fc3c'}
      Read the article &raquo;
