---
title: Articoli su application security
kind: page
---

%p
  Dal mese di Giugno 2011 ho iniziato a scrivere qualche articolo
  divulgativo... volevo sperimentare la piattaforma di Wikio Experts. Ecco la
  lista delle cose pubblicate finora.
%p
  %ul.talks
    %li
      %span.title
        Developers are from Venus and application security guys from Mars?
      %span.lang
        %img{:src=>'/images/en.png'}
      %span.time
        %time{:datetime=>'2011-11-22'}
          22
          %sup
            nd   
        November 2011
      %span.link
        %a{:href=>'http://urlin.it/224b3'}
          http://urlin.it/224b3
