---
title: Articles I wrote about application security
kind: page
---

.hero-unit
  %h1
    Articles I wrote about application security
  %p
    I love writing, that's why I have a blog. I love application security too,
    that's why sometimes I write articles about application security. 
.row
  .span15
    %h2
      Developers are from Venus and application security guys from Mars?
    %span
      %img{:src=>'/images/en.png'}
    %time{:datetime=>'2011-11-22'}
      22
      %sup
        nd   
      November 2011
    %a.btn{:href=>'http://urlin.it/224b3'}
      Read the article &raquo;
