---
title: Articoli su application security
kind: page
---

%p
  Dal mese di Giugno 2011 ho iniziato a scrivere qualche articolo
  divulgativo... volevo sperimentare la piattaforma di Wikio Experts. Ecco la
  lista delle cose pubblicate finora.
%p
  %ul.talks
    %li
      %span.title
        Penetration test: perché serve e perché non temerlo
      %span.lang
        %img{:src=>'/images/it.png'}
      %span.time
        %time{:datetime=>'2011-07-11'}
          11
          %sup
            st   
        July 2011
      %span.link
        %a{:href=>'http://urlin.it/1fc3c'}
          http://urlin.it/1fc3c
