---
title: I libri che sto scrivendo
kind: page
---

%p
  %ul
    %li
      %a{:href=>'http://leanpub.com/pillole_di_codice_sicuro'}
        "Pillole di codice sicuro"
      %span
        &mdash; Atteso per agosto/settembre 2011, $x,xx
      %br
      %span
        Scrivere codice che sia sicuro oltre che funzionale è qualcosa che va
        al di là del lavoro quotidiano dello sviluppatore.
        %br
        Sviluppare codice sicuro non vuol dire essere più bravi. Vuol dire
        vedere le cose sotto la prospettiva dell'attaccante e migliorare il
        proprio codice di conseguenza.
        %br
        In questo libro vedremo come risolvere in maniera sicura molti dei
        rischi legati allo sviluppo delle applicazioni web, sfruttando
        l'esperienza di anni di penetration test, code review e sviluppo.
        %br
        Vedremo come ragiona un attaccante e come la parte di sviluppatore
        che è in noi può darci una mano.
        %br
        Gli esempi saranno scritti in Ruby ma i concetti si applicano a
        qualsiasi linguaggio.

