---
title: Home 
kind: page
---

.hero-unit
  %h1
    Welcome to thesp0nge.com
  %p
    Hi, my name is Paolo and I'm an application security expert from Milan,
    Italy. This is my blog where I talk about application security, ruby on
    rails, objective-c, software development, startups, behaviour driven
    development, test driven develoment and getting things done.
  %p
    Sometimes I talk about myself, about music, taekwondo itf, my family and
    all the stuff that make my life a grate place to be.
  %p
    %a.btn.primary.large{:href=>'/about.html'}
      Read more

.row

  - oldest_item = nil
  - current_index = 0

  - sorted_articles[current_index, featured_count].each do |item|
    - oldest_item = item
    - current_index += 1
    .span5
      %h2
        =shorten(item[:title], 30)
      .meta
        =flag_image(item[:lang])
        =pretty_time(item[:created_at])
      %p
        =item[:excerpt]
      %p
        %a.btn{:href=>item.path}
          Read more &raquo;
.row
  %a.btn.primary.large{:href=>'/posts.html'}
    All posts

/  = render('_article', :item => item, :is_embedded=> true, :show_lang=>true, :featured=>true)


