---
title: Home 
kind: page
---

- featured=sorted_articles[0]

.hero-unit
  %h1
    =featured[:title]
  = render('_meta', :item => featured)
  %span.important
    featured
  %p
    =featured[:excerpt]
  %p
    %a.btn.primary.large{:href=>featured.path}
      Read more &raquo;

.row

  - oldest_item = nil
  - current_index = 1

  - sorted_articles[current_index, featured_count].each do |item|
    - oldest_item = item
    - current_index += 1
    .span5
      %h2
        =shorten(item[:title], 30)
      .meta
        =flag_image(item[:lang])
        =pretty_time(item[:created_at])
      %p
        =item[:excerpt]
      %p
        %a.btn{:href=>item.path}
          Read more &raquo;
.row
  %a.btn.primary.large{:href=>'/posts.html'}
    All posts

/  = render('_article', :item => item, :is_embedded=> true, :show_lang=>true, :featured=>true)


