---
title: La mia vita in un puzzle di immagini
kind: page
---

.content
  .related
    %p
      A volte le immagini parlano per noi... ricarica la pagina per scoprire altri pezzetti di me
    =render('_flickr')
    =render('_flickr')
