.content
  .related
    %ul
      -startups.each do |s|
        %li
          %a{:href=>"#{route_path(s)}", :title=>"Full article"}= s[:name]
          = s[:excerpt]
          = render('_meta', :item=>s, :disable_reaction=>true, :show_lang=>true)
