---
title: Talk su application security
---

.content
  .related
    %ul
      %li
        %span.title
          The OWASP Orizon project: new static analysis in HiFi
        %time{:datetime=>'2009-05-13'}
          13
          %sup
            rd 
          May 2009
        %span.conf
          Owasp AppSEC EU 2009
        %span.where
          Kracow, Poland
        %embed{:src=>"http://blip.tv/play/AYGG320C", :type=>"application/x-shockwave-flash", :width=>"480", :height=>"390", :allowscriptaccess=>"always", :allowfullscreen=>"true"}
        %span.link
          Available here, 
          %a{:href=>'http://blip.tv/file/2196766'}
            http://blip.tv/file/2196766
      %li
        %span.title
          The OWASP Orizon Project: towards version 1.0
        %time{:datetime=>'2009-09-25'}
          25
          %sup
            th 
          September 2008
        %span.conf
          Owasp AppSEC 2008
        %span.where
          NYC, United States
        %embed{:id=>'VideoPlayback', :src=>'http://video.google.com/googleplayer.swf?docid=-9104434795648450379&hl=en&fs=true', :style=>'width:400px;height:326px', :allowFullScreen=>'true', :allowScriptAccess=>'always', :type=>'application/x-shockwave-flash'}
        %span.link
          Available here, 
          %a{:href=>'http://video.google.com/videoplay?docid=-9104434795648450379'}
            http://video.google.com/videoplay?docid=-9104434795648450379

      %li
        %span.title
          The OWASP Orizon Project internals
        %time{:datetime=>'2008-05-21'}
          21
          %sup
            st
          May 2008

        %span.conf
          Owasp AppSEC EU 2008
        %span.where
          Ghent, Belgium
        %span.link
          Available at,
          %a{:href=>'https://www.owasp.org/index.php/OWASP_AppSec_Europe_2008_-_Belgium'}
            Owasp website
          (sorry, no video)

