@import 'coderay.css';

body { 
  background-image: url(../images/bg.png);
  background-repeat: repeat-x;

  text-align: justify; font-family: Copse, Georgia, Cambria, serif;}

a, a:visited { 
  color: #741012;
}
header#main {
  top: 15px;
  /*
  position: absolute;
  left: 15px;
  width: 100%;
  height: 100px;
  */
}

header#main a {
  float: left;
}

.avatar{
  float:left; 
  border: 1px solid #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -border-radius: 5px;
  -webkit-box-shadow: 0px 0px 4px #555;
  -moz-box-shadow: 0px 0px 4px #555;
  -o-box-shadow: 0px 0px 4px #555;
  -box-shadow: 0px 0px 4px #555;
}

.avatar:hover {
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  -transform: rotate(-15deg);
}

header#main h1 { 
  color: white;
  float:left;
  padding-top: 15px;
  padding-left: 10px;
}
#social {
  padding-top: 15px;
  padding-left: 20px;
  float: left;
}
img#social {
  padding-left: 80px;
  width: 64px;
  height: 64px;
}
#main {
  position: relative;
  float: left;
  left: 15px;
  margin-right: 30px;
  margin-left: 15px;
  top: 50px;
}
#about {
  font-size: 1.3em;
  font-style: italic;
}
/* FEATURED ARTICLE */
article.featured header h2{
  font-size: 2.2em;
}
article.featured header h2:after {
  content: " << featured reading";
  color: #741012;
  font-size: 0.6em;
  font-style: italic;
  margin-left: 20px;
}

article.featured section p {
  font-size: 1.3em;
}
article.featured footer span.read_more {
  display: block;
  margin-top: 15px;
  color: #741012;
  font-size: 1.2em;

}

/* END FEATURED ARTICLE */
#column {
  text-align: justify;
  -moz-column-count: 3;
  -moz-column-gap: 1.5em;
  -moz-column-rule: 1px solid #c4c8cc;
  -webkit-column-count: 3;
  -webkit-column-gap: 1.5em;
  -webkit-column-rule: 1px solid #c4c8cc;
}

/* Sezione relativa all'indice dei post nella homepage */
div#post_list_box{
  padding-top: 40px;
  margin-right: 30px;
  /*
  position: relative;
  float: left;
  */
}
h2#post_list_title {
  color: #741012;
}
ul#post_list {
  list-style: none;
}

article.index header h3 {
  position: relative;
  float:left;
  padding-right: 10px;
}
article.index header h4 {
  position: relative;
  padding-left: 20px;
  padding-top: 5px;
  float:right;
}
article.index footer {
  display: block;
  padding-top: 5px;
}
ul.tags {
  margin-left:0px;
  list-style: none;
  position: relative;
  float: left;
}
ul.tags li {
  padding-left: 5px;
  padding-top: 15px;
  display: inline;
}
ul.tags li a {
  color: #741012;
  font-family: Cantarell, Candara, monospace;
}
/* Fine sezione relativa all'indice dei post nella homepage */
/* Navigation menu */
nav ul li {
  display:inline;
}
nav a {
  color: #741012;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Yanone Kaffeesatz', serif;
  font-size: 2em;
  margin-right: 50px;
}
nav a:visited {
  color: #741012;
}

nav a.active {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
/* Fine navigation menu */

/* Inizio footer */
footer#site{
  float: left;
  margin-left: 30px;
  position: relative;
  top: 80px;
  width: 80%;
}
div#contact ul {
  margin-left: 0px;
  list-style: none;
}
div#contact ul li {
  display: inline;
  margin-right: 50px;
}
div#license {
  position: relative;
  float:right;
}
/* Fine footer */

article#fullpage section {
  margin-top: 10px;
  font-size: 1.2em;
  line-height: 1.5em;
}
