---
created_at: 2011-05-20
excerpt: Even evil villains have a baby boy waiting them to back home
kind: article
publish: true
lang: [it, en]
tags: [casual friday, star wars, droids]
title: "Casual Friday - the droids"
place: Gessate
---

%p
  %img{:src=>'http://img.photobucket.com/albums/0903/coyote23/stormtrooper_sendoff.jpg'}
