---
created_at: 2011-04-29
excerpt: Un mindeset da hacker permette di sopravvivere nelle situazioni più difficili
kind: article
publish: true
lang: [en, it]
tags: [casual friday, simple life, hacker, coder]
title: "Casual Friday &mdash; hacker vs coders"
place: Gessate
---
%em
  %strong
    Disclaimer:
  this post is in Italian language, but the original post that turned on mi
  dissertion was written in English. Apologize for people not following my
  toughts, check out #royalweddin on twitter instead.

%p
  In questo
  %a{:href=>'http://blog.amirkhella.com/2011/04/27/hackers-and-coders/?utm_source=feedburner&utm_medium=feed&utm_campaign=Feed%3A+AmirKhella+%28Amir+Khella%29'}
    post
  l'autore ha raccontato quanto accaduto in una startup night tra dei gruppi di
  lavoro pieni di sviluppatori ed un team di hacker.
%p
  Il secondo gruppo ha vinto in quanto non ha perso tempo sui dettagli
  implementativi ma è rimasto ad un livello più alto, cercando di vedere la
  situazione nel suo insieme.
  %br
  Non voglio scatenare un flame, anche perché mi colloco in entrambi i gruppi,
  però secondo me è una lettura interessante e divertente per questo 
  %em
    Casual friday.
%p
  Quali caratteristiche servono per avere un team di super star? 
  %br
  Serve un hacker in ogni team di sviluppo? E se sì... esistono ancora i veri
  hacker?




