---
created_at: 2011-11-29 08:00:29 +0100
excerpt: APIs are a must have for a successfully tool integration in third party environment, why few tools deploy winning APIs?
kind: article
publish: true
lang: [en]
tags: [appsec, security, tool, sast, dast, penetration test, ruby, rest, API]
title: "Winning apis for winning tools"
place: Gessate
---

%p
  Yesterday I asked 
  %a{:href=>'http://twitter.com/netsparker'}
    @netsparker
  if his tool have a rest API I can used in some ruby script to automate my
  work.
  %br
  He answer was the APIs is in roadmap for late 2012. This is great but in
  enterprise environment wouldn't be having a good API a must have for a
  winning tool, would it?
%p
  Of course, it's not about Netsparker tool which is a great dynamic analysis
  tool. This is a general consideration since I just want to automate some
  boring daytime job activities and having myself focused on results analysis
  and code reviews.
%p
  I think that it's crucial for a security tool (obviously this is true also
  for any other IT field, but this is a security oriented blog so... ) to have
  a rest API to help people interact with it and with data it outputs.
%p
  I like 
  %a{:href=>'http://rubygems.org/arachni'}
    arachni 
  approach that deploys a full XML-RPC server enabling people writing custom
  code talking with the tool.
  %br
  This should occur also in commercial tools, IMHO.
