---
created_at: 2011-06-24 13:17:55 +0200
excerpt: A volte è necessario continuare a perdere battaglie per poi vincere la guerra? Non lo so proprio... quello che so è che non smetterò mai di combattere.
kind: article
publish: true
lang: [it]
tags: [application security, appsec, simple life, myself, owasp, codesake]
title: "Road to nowhere"
place: Gessate
---

%p
  Paolo non sta più facendo security. Paolo ha cambiato vita. Paolo qui e Paolo
  qua.
%p
  Ho sentito più sentenze sparate su di me in questi ultimi 2 anni che Di
  Pietro ai tempi di 'Mani pulite'. La realtà è che nessuno al di fuori dei
  miei amici e della mia famiglia sa con esattezza quello che è successo. In
  molti mi hanno fatto divertire con sparate fantasiose. In molti mi hanno
  fatto divertire con consigli completamente fuori luogo. In molti mi hanno
  fatto divertire con rimbrotti e paternali completamente fuori luogo.
  %br
  Sì insomma, mentre io combattevo delle battaglie incredibili in campo
  personale, in molti mi han fatto ridere.
%p
  A scanso di equivoci, tutte le battaglie che ho combattuto fin qui le ho
  perse. Alcune sonoramente. Di alcune ho segni pesanti. L'ultima l'ho persa
  questa mattina.
  %br
  Che volete farci? E' la vita.
%p
  Mi viene in mente a proposito 
  %a{:href=>'http://www.linkedin.com/in/matttesauro'}
    Matt Tesauro
  , un amico di Owasp. Un giorno, durante uno dei tanti eventi, mi chiese 'How
  are you?' ed io, da buon latino ho preso sul serio la domanda ed ho
  cominciato a rispondergli.
  %br
  Alché lui impassibile mi ha detto 
  %em
    I know, it's life.
%p
  Posso dire che questa risposta mi ha illuminato? Bhé lo dico uguale. Il succo
  del discorso è che puoi avere mille sfighe che ti attanagliano ma comunque fa
  parte della vita, non c'è molto da stare a rimuginare sopra.
  %br
  Chi si sente arrivato... chi si sente un vincente... chi si crede realmente
  fico, magari ha solamente un periodo di vacche grasse. Bhé, finirà. Ma non
  perché sono cattivo e te lo auguro, semplicemente perché è la vita a volere
  così. Il valor medio per tutti è nullo. Vittorie e sconfitte si alterneranno
  sempre.
%p
  Sul piano materiale quest'equazione non è sempre vera ma la bilancia alla
  fine deve stare in equilibrio. Persino il lavoro di una forza su un cammino
  chiuso è nullo. Pensate di essere meglio?
%p
  Ho perso dicevamo... evviva, vuol dire che mi aspettano anni di successi.
%p
  In questi giorni non ho testa per mettermi a pianificare il mio futuro
  professionale, né a pensare a quando operarmi, né a pensare a come mettermi
  in forma per le gare della prossima stagione.
  %br
  So però che mi aspettano anni di successi.
%p
  E mentre li aspetto concludo con una frase di Plutarco che mi ha insegnato
  mia cognata che sta studiando per diventare insegnante:
  %em
    La buona fortuna può elevare pure i mediocri e dare ad essi anche una certa
    apparenza di grandezza e di solidità mentre guardano il mondo dal posto
    elevato che hanno conquistato. Ma l'anima autenticamente nobile e risoluta
    si solleva da se e diventa ancora più grande nel disastro e nella cattiva
    fortuna.
%p
  %iframe{:width=>"425", :height=>"349", :src=>"http://www.youtube.com/embed/_NWjehpGSO0", :frameborder=>"0", :allowfullscreen=>true}
  
