---
created_at: 2011-06-30 08:30:50 +0200
excerpt: Yesterday a former dad of the operating system we all love and a great security researcher passed away. Thank you Mr. Morris for all.
kind: article
publish: true
lang: [en]
tags: [security, unix, internet worm, morris, history]
title: "Goodbye mr. morris"
place: Gessate
---
%p
  Everybody who have ever programmed a single line of C programming language
  knows about Unix. Everybody how knows about a bit of information security
  knows about the
  %a{:href=>'http://en.wikipedia.org/wiki/Morris_worm'}
    Internet Worm.
  %br
  Well the Morris name can be put aside of each one.
%p
  Morris Senior, was a researcher in Bell Labs and helper writing the operating
  system we all love that is at the base of either Linux than Mac OS X and iOS
  (even the Android OS).
%p
  Morris Junior, his son, wrote the first self replicating software worm that,
  for an error in the source code, ran away from labs and it self propagated to
  the Net in 1988 causing the first mass DoS attack.
%p
  Well, Morris Senior 
  %a{:href=>'http://www.nytimes.com/2011/06/30/technology/30morris.html'}
    passed away
  yesterday at the age of 78.
%p
  Thank you for all.

