---
created_at: 2011-07-07 07:54:33 +0200
excerpt: Max Ciociola, è un imprenditore. Ha realizzato musiXmatch mettendoci passione ed energia. Ed entra nella mia blogroll dei post da leggere per non smettere mai di crederci, anche se sono ancora al livello 0.
kind: article
publish: true
lang: [it]
tags: [italiani, startupper, imprenditori, startup, max ciociola, musixmatch, profitable, simple life, twimbow]
title: "Grazie Max Ciociola"
place: Gessate
---

%p
  %a{:href=>'http://ciociola.me'}
    Max
  è un imprenditore italiano, ha realizzato 
  %a{:href=>'http://www.musixmatch.com'}
    musiXmatch
  ed è un esempio vivente di persona che parla con cognizione di causa. Lui ce
  l'ha fatta.
%p
  Da sempre Max è stostenitore che, a parte le ovvietà su come il panorama
  della Silicon Valley sia chiaramente più rodato nel far germogliare startup
  ( forse a volte fin troppo ), l'essere in Italia può essere un'abile scusa
  per mascherare vuoi un prodotto poco 
  %em
    appealing
  per il mercato, vuoi per mascherare una cattiva
  %em
    execution
  o vuoi anche solo per mascherare il fatto che probabilmente non era quella
  della startup la strada per ciascuno di noi.
%p
  In un 
  %a{:href=>'http://ciociola.me/post/7203866568/perch-bello-fare-una-startup-in-italia'}
    post
  sul suo blog ci racconta come, per lui, i luoghi del suo territorio fungano
  da corroborante e gli permettano di continuare la sua strada.
%p
  Quando ho retwettato questo post l'ho definito più efficace di mille redbull.
  Lo penso veramente. Questo post lo metto nella mia bacheca personale a fianco
  del discorso di 
  %a{:href=>'http://www.youtube.com/watch?v=UF8uR6Z6KLc'}
    Steve Jobs 
  a Standford (quello dello 'Stay hungry, stay foolish') e al talk di 
  %a{:href=>'http://www.bettersoftware.it/conference/talks/alcune-lezioni-che-ho-imparato-negli-ultimi-2-anni'}
    Peldi a BetterSoftware 2010.
%p
  Uso questi post quando perdo il focus e smetto di pensare a
  %a{:href=>'http://www.codesake.com'}
    codesake.com
  cosa che, purtroppo, avviene troppo spesso in questi mesi.
%p
  La prima lezione che ho imparato è che se uno ha tanti casini nella sua vita
  personale, tante storie che si accumulano, tanti pensieri, tanti nodi da
  sciogliere, non ce l'ha il tempo di lanciare un prodotto... soprattutto se
  complesso come una piattaforma di sviluppo collaborativo che permetta di
  farsi code review.
  %br
  Chiamiamo questa cosa
  %em
    energy drain. 
  %br
  Se il tuo cervello è costantemente sotto pressione per mille motivi non ha
  più energie per altro.
%p
  Però questi post servono. Questi post servono perché danno energia, speranza
  e parlano di un'Italia che ce la fa ancora. Non solo prettamente in campo
  tecnologico... c'è un'Italia che ce la fa ad emergere senza la spintarella,
  senza l'aiutino o senza l'amico assessore. Questo è fantastico. 
%p
  Io letteralmente mi entusiasmo quando leggo storie che mi raccontano un Paese
  diverso da quello che sento nei telegiornali, così lontano da festini sesso
  droga e potere. Così lontano dalla raccomandazione clienterale. Così lontano
  dal commerciale che porta i clienti negli club e paga loro il privè per avere
  la commessa.
%p
  Mi entusiasmo leggendo ad esempio di 
  %a{:href=>'http://www.twimbow.com/'}
    Twimbow
  che ha lanciato ieri in beta aperta a tutti. Twimbow, startup di DNA
  italianissimo, si sta facendo strada in giro per i VC dei soliti posti ma lo
  sta facendo non tanto perché hanno incorporato nella valley (sinceramente non
  sono neanche sicuro abbiano lasciato la Sardegna), ma perché il loro prodotto
  funziona.
%p
  Mi sono entusiasmato questa mattina quando ho letto un post di Marco Borromeo
  che entusiasta parlava del suo progetto, 
  %a{:href=>'https://continuityapp.com/'}
    ContinuityApp, 
  e di come stiano fioccando gli utenti, anche quelli paganti, da tutto il
  mondo.
%p
  Bene, tra tanto entusiasmo accumulato guardando in casa altrui, vediamo cosa
  succede qui, in 127.0.0.1.
  %br
  Allora, non mi vergogno di ammettere che fin qui ho perso un sacco di treni e
  di opportunità.
  %br
  Mi rendo anche conto che sono tutte considerazioni che posso fare col
  famosissimo senno di poi, al momento purtroppo quei treni e opportunità non
  li potevo prendere per un momento o un altro.
%p
  Un'ultima cosa che mi ha riempito di energia. Un 
  %a{:href=>'http://www.businessinsider.com/people-over-35-made-up-80-percent-of-entrepreneurship-activity-during-the-recession-2011-7'}
    post
  di Business Insider che racconta come la maggior parte delle startup sia lanciata da imprenditori con un po' di anni di gavetta alle spalle nel mondo del lavoro.
  %br
  Questo vuol dire che under 30 non devono permettersi di fare startup?
  Assolutamente no. Vuol dire solo che se mi chiudessi questa porta per il
  fatto di avere 35, una moglie e un figlio mi starei solamente prendendo per
  il culo.
%p
  Detto questo, le uniche cose che posso fare a breve sono la lista della spesa delle feature incrimentali che voglio dare a 
  %a{:href=>'http://www.codesake.com'}
    codesake.com
  %br
  Ne avevo parlato in un post di 
  %a{:href=>'/2011/06/14/some_preliminary_steps_before_codesake_com_first_line_of_code.html'}
    3 settimane fa.
  %br
  Più o meno i piani restano questi. E se un giorno riuscirò a mettere in piedi
  questo prodotto, anche dalla ridente Gessate ci sarà un'altra storia di
  successo da raccontare.
