---
created_at: 2011-04-22
excerpt: It's an hard life when a man and a woman are in the same development team. Who will win?
kind: article
publish: true
lang: [it, en]
tags: [casual friday, simple life, sixrevision, infographics]
title: "Casual Friday &mdash; Web Developers War"
place: Gessate
---

%p
  Today, I'm going to link a funny infographics made by sixrevision.com. Men
  and Women can make a development team so colorful when they are mixed up...

  %br
  %a{:href=>'http://sixrevisions.com/infographs/web-designers-web-developers-remix/'}Web developer vs. web developer

%p
  Credits by
  %a{:href=>'http://sixrevisions.com/'}sixrevisions.com
