---
created_at: 2011-04-08
excerpt: Un grazie ai 37 visitatori unici per il primo giorno di thesp0nge.com
kind: article
publish: true
lang: [it]
tags: [blog, simple life]
title: "37 grazie"
place: Gessate
---

%p 
  Stando ai dati di analytics, nella giornata di lancio 37 visitatori unici sono passati a vedere thesp0nge.com
%p
  Numeri risibili se confrontati a quelli delle vere blogstar, per&ograve; son
  sempre un buon numero di persone a cui dire di essere passati per il 
  %em vernissage
%p
  Il blog &egrave; ovviamente giovane e va rodato. In particolare prima di
  potervi dare dei contenuti di spessore tecnologico, questi dovranno essere
  messi in pipeline.

%p
  Argomenti che saranno trattati prossimamente:
  %ul
    %li 
      creazione di un blog utilizzando 
      %a{:ref=>'http://nanoc.stoneship.org/'}nanoc
      (di fatto vi racconto come ho costruito thesp0nge.com in una mattinata)
    %li
      come usare il TDD e/o il BDD per creare codice sicuro
    %li
      come creare applicazioni in 
      %a{:href=>'http://www.sinatrarb.com'}sinatra

%p
  In pi&ugrave; sto pensando che il venerd&igrave; potrebbe essere dedicato al momento dell'umorismo, tanto per prepararci al weekend.
%p 
  Aspettatevi quindi delle pubblicazioni un po' irregolari per le prossime
  settimane, in un mese credo accumuler&ograve; abbastanza materiale per dar
  vita a stream pressoch&egrave; costanti.
