---
created_at: 2011-09-07 10:05:08 +0200
excerpt: Un anno fa i ragazzi di mashape.com lasciavano l'Italia con una lettera piena di rabbia perché nessuno credette in loro. Ora raccolgono i frutti di un duro lavoro in un mercato che sembra promettere molto. I marketplace di API
kind: article
publish: true
lang: [it]
tags: [web app, web, startup, api]
title: "Mashape ed il futuro dei marketplace di API"
place: Gessate
---

%p
  Un anno fa, il 6 settembre 2010, sul 
  %a{:href=>'http://blog.tagliaerbe.com/'}
    TagliaBlog
  appariva 
  %a{:href=>'http://blog.tagliaerbe.com/2010/09/startup-investitori-italia.html'}
    questa 
  lettera aperta.
  %br
  Augusto Marietti, raccontava le difficoltà incontrate in Italia per
  raccogliere fondi per la loro startup web.
  %a{:href=>'http://mashape.com'}
    mashape.com
%p
  Sinceramente non mi stupisce leggere le reazioni degli investitori alle idee
  di questi ragazzi. In un paese dove se parli di penetration test o code
  review esce il sangue da naso ai più e la reazione più comune è 
  %cite
    "Ah ma allora tu sei un hacker? Buchi i siti?
  , ci si poteva veramente aspettare che qualcuno capisse l'importanza di un
  marketplace per API?
  %br
  Ancora un passo indietro. Ci si poteva aspettare che qualcuno in Italia
  sappia o sia in grado di capire cosa sia un'API? Qualcuno di non tecnico
  intendo.
%p
  Partiamo da un blocco culturale tipico del nostro Paese. La condivisione.
  Quando qualcuno scopre o realizza qualcosa, mediamente, tende a nascondere i
  dettagli chiudendosi a riccio preoccupandosi di come tutelare la proprietà
  intellettuale dell'applicazione che ha appena realizzato. Rilasciare il
  codice? Fantascienza. Aprire all'esterno con delle API? 
  %strong
    Ma stai scherzando? I dati sono miei. E se poi mi bucano? E perché vuoi accedere?
  %br
  Sinceramente parlando... purtroppo di webapp lungimiranti che si aprono
  esponendo API ce ne sono poche ed i motivi non sono tecnologici... non è che
  lo sviluppatore italiano non sa farlo... i motivi sono puramente di
  mentalità. Lo sviluppatore (o il PM o l'owner) di quell'applicazione non 
  %strong
    vuole
  farlo.
%p
  Giusto? Sbagliato? Sinceramente ha poco senso e potremmo parlarne per ore. Di
  sicuro aprire il proprio codice con un'API consistente può dare visibilità
  alla nostra webapp, può aprirci collaborazioni con altre webapp e altri team
  di lavoro, può portarci traffico e può persino portarci dei soldi... con un
  marketplace di API appunto.
%p
  Ricordate 
  %a{:href=>'http://codesake.com'}
    codesake.com?
  La startup sulla code review su cui sto lavorando? Sicuramente le sue API
  saranno aperte. E le applicazioni e gli sviluppatori potranno usare
  codesake.com come un vero SaaS. E l'uso delle API sarà regolamentato da piani
  di abbonamento.
  %br
  Quindi perché chiudersi così al discorso API? Quando può diventare l'arma
  numero uno per portare utenti al nostro servizio? Per farci conoscere? Per
  aumentare l'hype attorno al nostro codice?
  %br
  Boh, sinceramente io questo non l'ho capito. Comunque ben vengano servizi come
  %a{:href=>'http://www.mashape.com'}
    mashape.com
  siano essi fatti in Italia, nella Valley o su un'isola immersa nel Pacifico.
%p
  Sì perché nel 2011 nel business di Internet il dove si realizza
  un'applicazione dovrebbe veramente contare 0.



