---
excerpt: L'inverno può non essere solamente il periodo dell'anno dove si recupera in vista della primavera. Può essere un periodo di introspezione, ricerca e lotta.
kind: article
publish: true
lang: [it]
tags: [introspezione, zen, inverno, blog, nanoc, twitter, hacking]
title: "Lune d'inverno"
url: 
place: 
---

%p
  Finalmente il major restyle del blog è compiuto. Facendo un fork di un
  template di integrazione tra nanoc ed il framework di Twitter bootstrap, sono
  arrivato a questo. Molto simile all'esempio 
  %em
    hero unit
  che twitter stessa porta, però che volete farci? Mi piaceva.
%p
  Dicevamo, finito il lavoro di restyle, ora possiamo tornare a scrivere in
  modo regolare.
%p
  A me dell'inverno piacciono poche cose. Il calore di un tè quando fuori
  nevica, la montagna ma soprattutto il cielo all'imbrunire. Quando l'aria è
  così tesa, fresca e frizzante il cielo è terso e di un blu profondo. Le
  stelle affiorano come nella pubblicità (bhé quasi) ed il tutto ha un'aria
  così imponente, così definitiva. Un po' come a dire "fammi una foto, mettila
  su flickr sotto la definizione cielo".
%p
  E' questo per me il momento migliore di tirare le fila, mettermi a fare i
  conti e guardarmi dentro. 
%p
  In questo inverno 2011 stanno saltando fuori scheletri dall'armadio come
  funghi. Affiorano pezzi di un passato come elementi di una reazione a catena.
  Un domino che ho voluto innescare io e che ora, pezzo dopo pezzo, sta
  componendo un puzzle più ampio. Uno scenario che mi da nuove chiavi di
  lettura.
%p
  Da qualche interessante colpo di coda finalmente imparo che la vita ha
  episodi ineluttabili dai quali non scappi neanche se sei Bolt. Ci sono invece
  dei problemi che nascono da soli o messi lì dal caso, dio, buddha, kharma per
  darti la soluzione del quadro più grande.
%p
  Guardando tutto questo capisci di essere piccolo piccolo in questo universo e
  che in fondo, non sposti di molto l'ago.
%p
  E tutto quello che mi può rimanere è guardare un cielo imperioso tronfio nel
  tenersi stretto la sua luna d'inverno.
