---
excerpt: Il solito post di fine anno, dove si traccia un bilancio e si fa un elenco di buoni propositi per il 2012... verranno disattesi come al solito?
kind: article
publish: true
lang: [it]
tags: [simple life, zen, resolutions, buoni propositi]
title: "Resolutions e propositi 2012"
url: 
place: Milano
---

%p
  Arriva il 29 Dicembre e mi trovo a ripensare a quello che avevo scritto ad
  inizio anno, riferendomi al 2010 e a quali le idee che avevo in testa per
  quest'anno.
%p
  Inutile dire che e' andata in tutt'altra maniera. Quindi per il 2012 ho
  pensato di fare l'elenco dei buoni propositi per l'anno prossimo. Non mi
  preoccupa il non mantenerli, forse arriva il famoso asteroide se i Maya
  avevano ragione.
%p
  La parola dello scorso Gennaio era resolution. Pensare positivo e darsi degli
  obiettivi grandiosi. La parola di quest'anno sara' 
  %a{:href=>'http://en.wikipedia.org/wiki/Downshifting'}
    downshift.
%p
  Milano e' diventata una citta' brutta, opprimente e stressata
  all'inverosimile. I piu' hanno perso umanita' e voglia di sorridere e la
  crisi e' spesso solo un palliativo dietro il quale ci nascondiamo il fatto
  che ci siamo scottati con l'aver lasciato perdere tutti i sogni che avevamo
  ed ora siamo solo cinici ed incazzati.
  %br
  Per questo, io per il 2012 provo a rallentare. Provo a riscoprire la gioia
  nel guardare un tramonto o notare i colori della vita e ritornare ad essere
  in armonia.
  %br
  Per il 2012 voglio tornare a leggere e fare foto. Voglio ricavare uno spazio
  per la musica, per suonare. Voglio rimettermi dal brutto infortunio al
  ginocchio e prendermi la cintura nera. Voglio vincere la mia prima gara nella
  categoria 'Amatori'. 
  %br
  Voglio correre, prendermi cura di me stesso ed essere felice. E voglio
  soddisfare almeno la meta' delle cose nella tabella degli obiettivi 2012.
%p
  %table.bordered-table.zebra-striped
    %tr
      %th ID
      %th Obiettivo 
      %th Deadline
      %th Completato?
    %tr
      %td 1
      %td Sviluppare il clone di pastebin per codesake.com
      %td Fine Luglio
      %td &nbsp;
    %tr
      %td 2
      %td Finire discovery/flender ed avere almeno 10 persone nel mondo che li usano
      %td Fine Ottobre
      %td &nbsp;
    %tr
      %td 3
      %td Scendere a 77Kg
      %td Fine Luglio
      %td &nbsp;
    %tr
      %td 4
      %td Scendere a 74Kg
      %td Fine Dicembre
      %td &nbsp;
    %tr
      %td 5
      %td Nuotare 100Km in piscina
      %td Fine Dicembre
      %td &nbsp;
    %tr
      %td 6
      %td Correre 300Km
      %td Fine Dicembre
      %td &nbsp;
    %tr
      %td 7
      %td Scoprire nuovi libri fantasy
      %td Fine Dicembre
      %td &nbsp;
%p
  %strong
    7
  obbiettivi. Piu' quelli nascosti tra le righe del post. Piu' il forte desiderio di scrollarmi di dosso la disillusione e le tensioni di questi ultim anni.
%p
  Buon 2012 Charlie Sp0nge









