---
created_at: 2011-05-13
excerpt: Solo in paradiso tutto è perfetto.. 
kind: article
publish: true
lang: [it, en]
tags: [casual friday, xkcd, heaven]
title: "Casual Friday: heaven"
place: Gessate
---

%img{:src=>'http://imgs.xkcd.com/comics/heaven.png', :alt=>'xkcd: Heaven'}

%span
  Courtesy by 
  %a{:href=>'http://xkcd.com/664'}xkcd
