---
created_at: 2011-09-09 09:09:46 +0200
excerpt: aurora is the new security project I started from the Owasp Orizon ashes and from the temporary 'mirage' project lab. I do hope it will last
kind: article
publish: true
lang: [en]
tags: [appsec, application security, static analysis, dynamic analysis, hybrid analysis, owasp, code review, opensource, startup]
title: "The aurora project"
place: Gessate
---

%p
  Yesterday I officialy started the 
  %a{:href=>'http://aurora.armoredcode.com/'}
    aurora project 
  with a brand new
  %a{:href=>'https://github.com/thesp0nge/aurora'}
    repository
  hosted on github.
%p
  %cite
    "Yet another security tool?"
  %cite
    "Yet another security tool written by you?"
%p
  I know, I know... I changed the perspective I'm seeing the code review
  problem a lot of times. I changed technology behind the code used to review
  other code.
  %br
  And I delivered not too much usable stuff. That's why I don't want to release
  any roadmap but just start hacking and see what's happening.

%h3
  Some words about the code behind the scene
%p
  True to be told... one year ago I started writing a library in C with some
  code to attack a web page with well known attack patterns. I called the
  library 'dusk'. On the other side I started a library to be able to static
  analyze a source file and I called 'dawn' this library. I worked first on
  'dusk' library and just left the 'dawn' folder empty.
  %br
  In December I switched to Ruby since most of the code I was writing at work
  was in that language.
  %br
  Writing a pentesting tool in ruby is far easier since to the mechanize
  gem... an outstanding way to check patterns in HTML.
%p
  I gathered, working this way, a lot of fresh ideas about how to implement
  hybrid analysis in aurora.
  %br
  It won't be easy. I know. There is the danger a year far from today I'll
  write on about aurora failure... or maybe aurora will turn 1.0 and it will be
  the de facto opensource tool for perfoming hybrid analysis.
%p
  I'm pretty excited about this project... it's in pure C and I love writing
  code in C. It's a security tool and I love application security. I love
  challenges, that's why I'm starting a new one in late September. I love
  fighiting, that's why I'm a taekwondo athelete.
%p
  So, place a bookmark to the aurora
  %a{:href=>'http://aurora.armoredcode.com'}
    website
  , start follow the source code
  %a{:href=>'http://github.com/thesp0nge/aurora'}
    repository
  , hack the code or help writing attack patterns or just say 'Hold on guys' to
  boost our morale.
