---
excerpt: I'm really excited about last day intuition about #aurora and a bigger project about #webapp security that would overcome #sast and code review. However it's time to plan it carefully.
kind: article
publish: true
lang: [en]
tags: [ruby, appsec, tool, hacking, sast, dast, webapp, aurora]
title: "Time to plan a good architecture"
url: 
place: 
---
%p
  Yesterday I announced on my blog that I would spice the #appsec world with a
  biggest project than a #sast tool, that actually it's
  %strong
    hard
  to build.
%p
  By creating small tools testing web applications from different perspectives,
  it's easier to me creating a full featured #application security tool for #codesake.com
  %br
  However I must sit down and write some note about architecture and appsec
  tasks I want to solve with codesake and for such a reason a good plain and
  dedicated moleskine is the solution.
  %br
  And a lot of post here, of course...
%p
  %img{:src=>'http://www.gapingvoid.com/moleskine42vvv.JPG', :width=>'320px', :height=>'240px'}

