:javascript
  google_ad_client = "ca-pub-2316339285926863";
  /* Security links */
  google_ad_slot = "5500231143";
  google_ad_width = 728;
  google_ad_height = 90;

%script{:type=>"text/javascript", :src=>"http://pagead2.googlesyndication.com/pagead/show_ads.js"}

