<!doctype html>
<html lang="en">
  <head>
    <meta charset = "utf-8" />
    <meta content = "width=device-width, initial-scale=1.0" name = "viewport" />
    <meta content = "" name = "description" />
    <meta content = "" name = "author" />
    <link href = "/stylesheets/bootstrap.min.css" rel = "stylesheet" />
    <link href = "/stylesheets/bootstrap-responsive.min.css" rel = "stylesheet" />
    <link href = "/stylesheets/style.css" rel = "stylesheet" />
    <link href = "/stylesheets/fonts.css" rel = "stylesheet" />
    <style>
      body {
        padding-top: 90px;
      }
    </style>
   <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>thesp0nge.com - application security specialist</title>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22125982-1']);
      _gaq.push(['_setDomainName', 'codesake.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

     </script>
  </head>
  <body>

    <!-- NAVBAR
    ================================================== -->
    <div class="navbar-wrapper">
      <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
      <div class="container">

        <div class="navbar navbar-inverse">
          <div class="navbar-inner">
            <a class="brand" href="#">thesp0nge.com</a>
            <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div><!-- /.navbar-inner -->
        </div><!-- /.navbar -->

      </div> <!-- /.container -->
    </div><!-- /.navbar-wrapper -->


    <div class="container marketing">
        {{ content }}
        
        <footer>
          <p class="pull-right"><a href="#">Back to top</a></p>
          <p>&copy; 2013 thesp0nge.com &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </footer>

       </div>
    <!-- /container -->
    <script src='/javascripts/jquery.js'></script>
    <script src='/javascripts/bootstrap.min.js'></script>
    <script src='/javascripts/holder.js'></script>
  </body>
</html>
