---
created_at: 2011-04-07
excerpt: Parte thesp0nge.com, blog tecnologico dove racconto cosa vuol dire essere a met&agrave; strada tra uno sviluppatore ed un esperto di security
kind: article
publish: true
lang: [it]
tags: [simple life, hello world]
title: "Hello World!"
place: Gessate
---

%p
  Ripenso al 1995 ogni tanto. Avevo appena iniziato il corso di Sistemi Operativi ed il professor 
  %a{:href=>'http://homes.dico.unimi.it/~gfp/'}Gianfranco Prini
  , a cui bisogna rigorosamente dare del tu, mi aveva gi&agrave; conquistato con unix ed il libro 
  %a{:href=>'http://www.amazon.com/Modern-Operating-Systems-Andrew-Tanenbaum/dp/0136006639/ref=dp_ob_title_bk'}Modern Operating System.
  %br
  Non sapevo cosa fossero le socket (raw e non), sapevo qualche rudimento di C e fino ad allora avevo usato solo Windows.
  %br
  Un panorama desolante, non trovate?
%p
  16 anni dopo, quello studente &egrave; diventato un 
  %em Application Security Specialist
  , sviluppa codice, parla a conferenze su sicurezza applicativa, &egrave; un code reviewer ed ha lanciato anche qualche 
  %a{:href=>'/startup.html'}startup
  anche se per ora nessuna si pu&ograve; definire 
  %em profitable.
%p
  A quello studente, ora 
  %a{:href=>'http://it.linkedin.com/in/thesp0nge'}Application Security specialist
  piace scrivere e condividere quello che impara.
%p
  Per questo motivo parte questo blog, per parlare di C, di Ruby, di Rails, di
  sviluppo web, di OWASP, di sicurezza applicativa e di altre cose da geek.
%p
  Interessati a saperne di pi&ugrave;? Leggete
  %a{:href=>'/about.html'}qui.

