---
created_at: 2011-04-08
excerpt: People in the academic world think about software in a more poetic way?
kind: article
publish: true
lang: [en, it]
tags: [casual friday, xkcd]
title: "Casual Friday &mdash; Academia Vs Business"
place: Gessate
---

%img{:src=>'http://imgs.xkcd.com/comics/academia_vs_business.png', :alt=>'xkcd: Academia vs. Business'}

%span
  Courtesy by 
  %a{:href=>'http://xkcd.com/664'}xkcd
