---
created_at: 2011-04-15
excerpt: Sometime you get lost in your fears spinning around and you don't see the whole picture. 
kind: article
publish: true
lang: [en, it]
tags: [casual friday, xkcd, simple life]
title: "Casual Friday &mdash; Spinning"
place: Gessate
---

%img{:src=>'http://imgs.xkcd.com/comics/barrel_whirlpool.jpg', :alt=>'xkcd: Barrel - Part 3'}

%span
  Courtesy by
  %a{:href=>'http://xkcd.com/22/'}xkcd
