---
created_at: 2011-04-12
excerpt: Quando organizzare il prossimo bbq diventa un'idea per una startup web
kind: article
publish: true
lang: [it]
tags: [simple life, bbq, porkatpark, startup, startup ideas]
title: "Da bbq a possibile startup? porkatpark.com"
place: Gessate
---

%p
  Sabato stavo tornando da
  %a{:href=>'http://www.leroymerlin.it'}Leroy Merlin
  con mia moglie, finalmente abbiamo trovato un BBQ a poco prezzo ed in
  muratura. Quest'anno possiamo tornare ad organizzare i "Pork @ Park" che
  tanto ci piaceva organizzare lungo 
  %a{:href=>'http://it.wikipedia.org/wiki/Adda'}l'Adda.

%p
  Con un bimbo ancora piccolo, per&ograve; il BBQ in giardino &egrave;
  sicuramente la scelta pi&ugrave; comoda, soprattutto per quelle coppie di
  amici che portano i loro pargoli mentre si mangia del fu porco.

%p
  D'improvviso mi illumino e parto a descrivere a Francesca quella che
  gi&agrave; vedo come una startup lanciata e profitable:
  %a{:href=>'http://porkatpark.com'}porkatpark.com
  (pecco ancora di eccessi da entusiasmo di neofita... per me &egrave; ancora
  tutto un gioco, mi scusino gli imprenditori all'ascolto).
%p
  Ho immaginato il seguente scenario, la gente ama fare i BBQ all'aria aperta
  quando il tempo lo permette, perch&eacute; non dare loro una directory dei
  posti da BBQ che gli utenti preferiscono, con recensioni e consigli per
  vivere al meglio la giornata? Che ne so, magari a 
  %em 
    Pizzighettone valsugana
  al parco sul fiume, nello spiazzo a 10 minuti dal parcheggio c'&egrave; posto
  a sufficienza per 20 persone con zone d'ombra per i bambini. Le persone
  potranno usare l'applicazione mobile di 
  %a{:href=>'http://porkatpark.com'}porkatpark.com
  per trovare i posti da BBQ pi&ugrave; vicini alla loro location.
%p
  Un meccanismo a punti molto simile a quello gi&agrave; in voga presso altri
  social network pi&ugrave; accreditati, far&agrave; in modo da premiare chi
  segnaler&agrave; posti dove fare BBQ, scriver&agrave; recensioni dei posti o
  dei prodotti da barbeque.
%p
  Come modello di business ho ipotizzato, essendo impraticabile sia la
  consulenza sia l'app a pagamento, di basarmi sulla pubblicit&agrave;.
  Possibili fonti pubblicitarie possono essere:
  %ul
    %li 
      persone che organizzano un evento con BBQ aperto a tutti
    %li
      catene di prodotti per il tempo libero che vogliono pubblicizzare attrezzature per BBQ o per stare all'aria aperta
    %li
      comuni ed enti turistici che vogliono pubblicizzare le proprie location
    %li
      merchandise del sito (cappello da chef, grembiule, &hellip;)
%p
  I canali per sponsorizzare il sito sarebbero i social network, veicolati
  dall'applicazione mobile e dal fatto che ormai la penetratione degli
  smartphone con GPS &egrave; significativa.
%p
  Mi &egrave; piaciuto sognare ad occhi aperti partendo da una consuetudine che
  ho chiamato io qualche anno fa 'porkatpark'. Chiss&agrave; se
  diventer&agrave; mai veramente una startup. Per ora ho comprato il dominio...
  voi che ne dite?
