---
created_at: 2011-05-04
excerpt: Mi piace scrivere e scrivere un libro è sempre stato un mio sogno. Perché non iniziare da qualcosa che ha a che fare con l'application security?
kind: article
publish: true
lang: [it]
tags: [book, leanpub, appsec, sviluppo sicuro, owasp, pillole]
title: "Pillole di codice sicuro. E se ci scrivessi un libro?"
place: Gessate
---

%p
  Che mi piaccia scrivere è qualcosa che è nota ai più. Mi piace condividere
  anche se probabilmente quello che dico non piace ai più o comunque crea delle
  reazioni forti, soprattutto se parlo di sicurezza agli sviluppatori.
%p
  Credo di scrivere bene? Ah questo non lo so proprio, credo di farlo in
  maniera decente nonostante abbia la tendenza a romanzare anche le storie più
  geek e nerd.
%p 
  Facendo un po' la somma, oggi ho fatto partire un progetto su 
  %a{:href=>'http://leanpub.com'}
    leanpub.com
  di un libro su application security e sviluppo sicuro in italiano.
  %br
  L'ho intitolato: 
  %a{:href=>'http://leanpub.com/pillole_di_codice_sicuro'}
    Pillole di codice sicuro
%p
  Sarà un racconto che attraverso le cose che ho visto in questi anni di
  sviluppo, penetration test e code review. Sarà ovviamente un po' romanzato e
  di esempi di codice scritto in ruby.

%p
  Mi piace il format usato in 
  %a{:href=>'http://pragprog.com/titles/jvrails/crafting-rails-applications'}
    Crafting Rails Applications
  dove ogni capitolo tratta un tema sviluppando un progetto ad hoc come esempio.

%p
  Tutti gli aggiornamenti e i post relativi a
  %a{:href=>'http://leanpub.com/pillole_di_codice_sicuro'}
    Pillole di codice sicuro
  li trovate qui sul blog seguendo il tag
  %a{:href=>'/tags/pillole'}
    pillole
%p
  %em
    Stay tuned
