---
created_at: 2011-05-04
excerpt: Dopo il secondo breakin nel Playstation network tutti a dare contro agli hacker. Qual è invece la percezione dell'insicurezza di alcune web application.
kind: article
publish: true
lang: [it]
tags: [appsec, application security, owasp, sast, dast, sony]
title: "Sicurezza del codice e pericolosi hacker"
place: Gessate
---

%p
  Seconda intrusione in pochi giorni ed il Playstation Network di Sony è ancora
  down e dati su dati di ignari clienti esposti alla mercé dell'attaccante. 
  %em
    Sono troppo old fashioned per usare il termine hacker secondo la
    connotazione negativa data dalla stampa, fate voi il mapping in automatico.
%p
  Ovviamente la stampa ci si butta a pesce su questo genere di notizie:
  imputato numero uno, la figura mitologica dell'hacker che qualcuno si
  immagina come il Neo di Matrix intento a scandagliare Internet tutta note con
  il suo crawler scritto in LISP mentre ascolta musica trance.
  %br
  Purtroppo lo scenario dello spionaggio industriale è leggermente diverso e
  c'è ben poco di mitologico in task force impegnate nel cercare di far fare
  brutta figura ai propri competitor. Certo, la figura dell'attivista che senza
  macchia si batte per nobili ideali, come ad esempio le violenze subite dai
  cucciolotti di umano nella nuova saga di Pro Evolution Soccer è più
  romanzesca. Che dire poi dello script kiddie che trova un exploit in qualche
  antro oscuro della Rete, lo lancia e funziona perché
  %strong
    l'applicazione che ci sta dietro è scritta coi piedi?
%p
  Ahimé in pochi si domandano effettivamente quanto la colpa debba essere
  ripartita tra attaccante e chi ha messo online un'applicazione bacata. 
  %br
  E' un po' come un produttore di porte blindate che fa la blindatura con la
  plastica e scatena un putiferio con i ladri perché svaligiano le case...
  forse fare porte migliori non sarebbe una buona idea?
%p
  Lo so... è un rant. E la sicurezza è vista troppo spesso come un costo
  inutile affinché se ne tenga conto in sede di definizione del budget di
  progetto. Poi tanto se c'è un incidente e milioni di clienti vedono i propri
  dati trafugati, la colpa è solo dell'hacker cattivo, no?
%p
  Prossimamente voglio inaugurare una serie di post su cosa viene in mente a
  me, nei panni di n00b application pentester quando vedo varie parti di una
  web application, quali problemi ci possono essere e come metterli a posto.
