---
created_at: 2011-05-05
excerpt: Ogni tanto anche gli appsec guys hanno problemi nella gestione delle... chiavi.
kind: article
publish: true
lang: [it]
tags: [simple life, casual friday, fun]
title: "Vulnerabilità nel mio keyring"
place: Gessate
---

%p
  Mercoledì 4 Maggio. Dopo una giornata davanti al laptop a sviluppare codice,
  scrivere test rspec e far crescere i miei modelli arriva il momento di staccare
  e tornare a casa dal mio bimbo.
%p
  Preparo ed impacchetto tutto e cerco le chiavi di casa per mettermele in tasca. 
  %br
  %strong
    Panico
  le chiavi non ci sono più.
%p
  Ripercorro le tappe della giornata, visito i posti dove sono stato cercando
  in lungo ed in largo le mie chiavi ormai certo di averle perse, maledicendo
  la mia sbadataggine ed immaginando il disagio di dover cambiare un sacco di
  serrature.
%p
  Terminati i luoghi di ricerca, proprio mentre stavo per ammainare bandiera
  bianca, chiamo a casa mia moglie per preparare il terreno per la notizia.
  %br
  Con estrmo candore mi sento dire che le chiavi erano placide sul tavolo della
  cucina e non si erano allontanate da lì per tutto il giorno.
%p
  E' proprio vero, non basta essere un esperto di application security per
  saper gestire un mazzo di chiavi.
%p
  %em
    Have fun

