---
created_at: 2011-05-02
excerpt: E' morto Osama Bin Laden, riusciremo all'alba del 2011 a capire che l'omicidio non è un sistema di controllo demografico?
kind: article
publish: true
lang: [it]
tags: [simple life, pace, mondo, bin laden, bin laden morte, osama, usa, terrorismo]
title: "Un gerundio pieno di pace a 360 gradi"
place: Gessate
---
%p
  Faccio un attimo uno strappo alla monotemicità tecnica di questo blog, la
  notizia di oggi è troppo importante perché non venga commentata.
%p
  Senz'ombra di dubbio, la morte oggi di 
  %a{:href=>'http://www.corriere.it/esteri/11_maggio_02/bin-laden-morto_00034bc2-747a-11e0-a12f-3a82d10cc9fa.shtml'}Osama Bin Laden
  segna il trapasso di un pazzo sanguinario. Tuttavia, aver bombardato il
  Pakistan non ci ha posto al suo stesso livello? Non fraintendetemi non
  intende essere un discorso fazioso sinistra vs destra, rossi vs neri, però mi
  sembra che il trend di far salire in aria i caccia per sedare i problemi
  internazionali non abbia mostrato la sua efficacia risolutiva.
%p
  Il mio pensiero ad esempio è che i pazzi di Al Qaeda faranno una rappresaglia
  e noi allora bombarderemo ancora e loro faranno un'altra rappresaglia e
  allora noi bombarderemo ancora e allora loro faranno un'altra rappresaglia e
  noi... magari ci fermiamo per il matrimonio di Will and Kate, salutiamo la
  beatificazione di Giovanni Paolo II (fottendoncene un attimo del messaggio di
  pace che ha portato dopo essersi preso la pallottola nell'attentato dell'81)
  e bombarderemo ancora.

%p
  Dopotutto, non siamo capaci di vivere in pace nelle nostre strade, perché
  dovremo farlo nel mondo. Siamo sempre alla caccia di un nemico, di qualcuno
  da fottere, qualcuno da distruggere, qualcuno a cui fare male...
%p
  In parlamento non sono capaci di fare una legge senza scannarsi ed insultare
  le reciproche madri. Al semaforo se non mandi a fare in culo chi ti sta
  davanti se non ha una ripresa degna da F1 non sei felice e realizzato.
  Davvero ci scandalizziamo se qualche pazzo musulmano pensa che sia giusto
  farci saltare in aria? E davvero qualcuno pensa sia giusto essere allo stesso
  livello loro?
%p
  Non sono triste per la morte di Bin Laden, ma non posso essere felice del
  mondo in cui viviamo.
  %br
  E questa forse è anche un po' nostra.
