---
created_at: 2011-05-19
excerpt: Un semplice e veloce modo per convertire una data dal formato stringa in oggetto ruby
kind: article
publish: true
lang: [it]
tags: [how-to, ruby, string, code attack]
title: "Convertitore da data in stringa in oggetto time"
place: Gessate
---
%p
  Sulla mailing list italiana di
  %a{:href=>'http://ruby-it.org/'}
    Ruby
  un utente ha sollevato questa necessità. Convertire delle stringhe contenenti
  delle date in italiano (ad esempio '12-ott-2009') in oggetti 
  %a{:href=>'http://www.ruby-doc.org/core/classes/Time.html'}
    Time
%p
  Poiché ho qualche problema con gli rspec che sto scrivendo e volevo staccare
  un po', ho scritto al volo una classe che si occupa di fare lo split della
  stringa, convertire i nomi dei mesi in inglese ed usare il metodo mktime per
  creare un nuovo oggetto.
%p
  Il codice, online lo trovate in questo
  %a{:href=>'https://gist.github.com/980402'}
    gist
  , non è niente di che... fa il suo sporco lavoro e credo non gestisca un
  sacco di casi di errore che possono verificarsi.
%p
  Però può essere uno spunto per costruirci sopra una gemma per la
  normalizzazione delle date in italiano, con magari dei controlli maggiori,
  con un po' di documentazione ed una suite di test... quasi quasi in pausa
  pranzo creo il repository.
  %br
  Immagino che un sacco di gente debba fare questo genere di conversioni.
