---
created_at: 2011-05-12
excerpt: Succedono a volte cose strane quando lasci capybara vagare per i tuoi controller. Ad esempio questo test dice di venire da www.example.com
kind: article
publish: true
lang: [it]
tags: [tdd, bdd, ruby, rails, rspec, capybara, cucumber, quality, testing]
title: "Stranezze con rspec e capybara"
place: Gessate
---

%p
  Scenario, sto scrivendo una semplice applicazione in Rails 2.3 e voglio usare
  il BDD. Da bravo bimbo quale sono ho usato i
  %a{:href=>'http://rspec.info/'}
    rspec 
  per testare e sviluppare i miei modelli e ora ho chiesto aiuto a
  %a{:href=>'https://github.com/jnicklas/capybara'}
    capybara
  per il test dei miei controller.
  %br
  Un po' per pigrizia non ho voluto coinvolgere 
  %a{:href=>'http://cukes.info/'}
    cucumber
%p
  Il test è molto semplice, voglio verificare che l'utente, atterri su una
  pagina di cortesia con un link il cui testo è 
  %em
    Register Now
  e una volta cliccato il link, venga rediretto sull'url di creazione di un
  nuovo utente.
%p
  La view è qualcosa di veramente molto semplice, dopo un 
  %a{:href=>'http://www.lipsum.com/'}
    testo a caso
  creo il link con l'helper adatto.
  %pre
    %code{:class=>'language-ruby coderay'}
      :escaped
        <%= link_to 'Register Now', new_user_path %>
%p
  Anche il test non mi sembrava nulla di complicato, ma qualcosa non funzionava.
  %pre
    %code{:class=>'language-ruby coderay'}
      :escaped
        require 'spec_helper'

        context "A user reach the welcome page" do

          it "must find a 'Register Now' button" do
            visit root_path
            page.should have_link('Register Now')
          end

          it "must be redirected to user registration when clicking the 'Register Now' link" do
            visit root_path
            click_link 'Register Now'
            page.current_url.should == new_user_path

          end


        end
%p
  Eseguendo il comando rake, il test falliva con questo messaggio.
  %pre
    %code{:class=>'coderay'}
      :escaped
        1)
          'A user reach the welcome page must be redirected to user registration when clicking the 'Register Now' link' FAILED
            expected: "/users/new",
            got: "http://www.example.com/users/new" (using ==)
%p
  Sembra quindi che capybara simuli la richiesta settando il mio hostname a
  www.example.com e sembra che io non sia l'unico ad avere qualche
  %a{:href=>'https://github.com/jnicklas/capybara/issues/36'}problema.
%p
  Senza andare troppo nel dettaglio, ho deciso di violare il BDD per questa
  volta e di cambiare il test. Non usando più l'operatore di ugualianza ma
  quello di inclusione, vado a verificare se il percorso di creazione di un
  nuovo utente è all'interno dell'url raggiunta da capybara.
  %br
  Questo l'rspec finale.
  %pre
    %code{:class=>'language-ruby coderay'}
      :escaped
        require 'spec_helper'

        context "A user reach the welcome page" do

          it "must find a 'Register Now' button" do
            visit root_path
            page.should have_link('Register Now')
          end

          it "must be redirected to user registration when clicking the 'Register Now' link" do
            visit root_path
            click_link 'Register Now'
            page.current_url.should  include(new_user_path)

          end


        end
          

