---
created_at: 2011-05-13
excerpt: qualche considerazione prima della prossima mossa per codesake.com
kind: article
publish: true
lang: [it]
tags: [appsec, codesake, startup, funds, fund raising, startup cup, italy]
title: "Codesake: pedone in c4"
place: Gessate
---

%p
  In rete c'è un dibattito vecchio come il mondo e che l'anno scorso ha trovato molta risonanza con il post sul blog del 
  %a{:href=>'http://blog.tagliaerbe.com/2010/09/startup-investitori-italia.html'}
    tagliaerbe.
  %br
  I ragazzi di
  %a{:href=>'http://www.mashape.com/'}
    Mashape
  scappano dall'Italia e ne mettono in croce vizi e virtù.
%p
  Emigrare sì, emigrare no... riflessioni e chiacchiere che potrebbero
  continuare per ore senza che nessuno dei contendenti dichiari forfait. Di
  sicuro in Silicon Valley è tutto più semplice, forse anche perché è nato
  tutto lì.
  %br
  Tuttavia c'è qualcosa che non mi torna.
  %br
  Se io domani vado nella Valley, trovo entusiasmo e soldi all'istante, fondo 
  %a{:href=>'http://www.codesake.com'}
    codesake.com
  e divento miliardario?
  %br
  Ditemelo, perché il biglietto di un volo per la valley è un buon investimento
  in questo caso.
%p
  Se $1500 cancellano di colpo un po' di stanchezza ed appannamento e trovo
  magicamente soluzione ai problemi dell'analisi ibrida del codice fatturando $
  M io son contento... let's do it.
%p
  Il problema è che io per primo non credo che la mia geolocalizzazione sia
  importante. Parlo per me ora.
  %br
  In questo momento per n motivi sono stanco e mi serve lucidità e freschezza
  per mettere in piedi un sistema per l'analisi del codice che stia in piedi.
  %br
  La lucidità e la freschezza non li troverò in giro per il mondo, sono dentro
  di me. Finché io non le faccio uscire in questo modo, codesake.com non
  partirà mai e non sarà mai una startup di successo. Period.
%p
  Però vediamo come aiutare la lucidità e la freschezza ad uscire fuori. Si
  perché, io vorrei anche farla questa startup di successo nel campo
  dell'appsec.
%p
  Dunque, partiamo dal primo punto, 
  %strong
    fondi.
  %br
  Senza divulgare qualche numero del business plan, per far partire il progetto
  servono soldini. Per ora sto per chiedere alla regione che ha organizzato una
  startup competition e poi toccherà ai VC. Per andare da un VC poi mi servirà
  un 
  %strong
    pitch.
  %br
  Quindi è meglio che mi diletti con iMovie e mi prepari a mettere nero su
  bianco perché qualcuno dovrebbe investire in me.
%p
  Max è un grande e si merita il successo con MusixMatch. Da sempre è
  appassionato sostenitore del fatto che non serva necessariamente risiedere in
  un posto per creare un business di successo. Certo, aiuta ma non è un must
  have.
  %br
  I 
  %a{:href=>'http://ciociola.me/post/5334212445/3-7-mln-di-passioni-musixmatch-investimento-da-35-mln-us'}
    $3,5M
  che ha appena raccolto in un round di investimento dimostrano che forse non
  ha tutti i torti.
%p
  Quindi le prossime azioni per codesake sono:
  %ul
    %li
      creare il pitch
    %li
      arrivare ad una demo
    %li
      avere un po' di utenti
    %li
      lasciare che il buzz aumenti
    %li 
      presentarsi dal VC sorridente e speranzoso.
