---
created_at: 2011-05-16
excerpt: Sometimes when you feel sad of you've just a bit tired, people can touch the right chords and boosting your ego. Thanks Mike
kind: article
publish: true
lang: [en]
tags: [owasp, appsec, speech, talk, application security, owasp orizon, code review, nyc, ghent, krakow, owasp italy]
title: "Thanks for boosting my stamina"
place: Gessate
---

%p
  This afternoon I published a 
  %a{:href=>'http://thesp0nge.com/talks.html'}
    page
  here on my blog to summarize all the major talks I gave in the latest three
  years about application security, code review and Owasp Orizon.
%p
  Sure it was a bit of self promotion but 
  %a{:href=>'http://twitter.com/morbosvermin'}
    Mike Duncan
  simply boosted my stamina with great words.
  %img{:src=>'/images/tweet_20110516.png'}
%p
  Thanks Mike!
