---
created_at: 2011-05-11
excerpt: E' stata rilasciata la versione 2.0 della libreria Owasp Esapi. Soluzione chiavi in mano per i problemi degli sviluppatori.
kind: article
publish: true
lang: [it]
tags: [owasp, appsec, esapi, java, security, java]
title: "Rilascio della libreria owasp esapi 2.0ga"
place: Gessate
---

%p
  E' successo, oggi è stata rilasciata la versione 2.0 delle 
  %a{:href=>'https://www.owasp.org/index.php/Category:OWASP_Enterprise_Security_API'}Owasp Enterprise Security API
  o ESAPI per gli amici.
  %br
  E' lo stesso Chris Schmidt ad annunciarlo sul suo 
  %a{:href=>'http://yet-another-dev.blogspot.com/2011/05/esapi-20ga-is-released.html'}blog
  proprio oggi.
  %br
  Il progetto Owasp ESAPI è secondo me uno dei più ambiziosi e meglio riusciti
  tra quelli portati avanti da Owasp e raggiunge con questo rilascio un
  importante grado di maturità che non potrà che giovare agli sviluppatori java
  all'ascolto.
%p
  Sì perché, il troncone principale del progetto è dedicato a Java ma di porting per altri linguaggi ne esistono ed 
  %a{:href=>'https://www.owasp.org/index.php/Category:OWASP_Enterprise_Security_API#tab=Ruby'}il porting 
  per Ruby è portato avanti proprio da 
  %a{:href=>'http://thesp0nge.com'}me.
%p
  La versione 2.0 della libreria ESAPI si presenta rinnovata fin dal pacchetto. Il file 
  %a{:href=>'http://it.wikipedia.org/wiki/JAR_(formato_di_file)'}jar
  usato per la distribuzione ora è firmato digitalmente dalla 
  %a{:href=>'http://www.owasp.org'}Owasp Foundation ed è 
  %em
    sealed
  , ovvero tutte le classi del package org.owasp.esapi potranno essere raccolte unicamente in questo JAR file.
%p
  Novità lato API riguardano principalmente l'oggetto 
  %a{:href=>'http://owasp-esapi-java.googlecode.com/svn/trunk_doc/latest/org/owasp/esapi/Encryptor.html'}Encryptor
  che è stato completamente riscritto. L'oggetto Encryptor è responsabile di
  fornire allo sviluppatore routine di cifratura, generazione sicura di numeri
  casuali e di hashing.
%p
  Migliorati i servizi di 
  %a{:href=>'http://code.google.com/p/owasp-esapi-java/source/browse/trunk/src/main/java/org/owasp/esapi/Validator.java'}validazione
  e di 
  %a{:href=>'http://code.google.com/p/owasp-esapi-java/source/browse/trunk/src/main/java/org/owasp/esapi/Encoder.java'}encoding
  segno che le vulnerabilità legate ad una errata interpretazione del formato
  degli input è una cosa da tenere bene in considerazione.
%p
  Ora che la versione mainstream delle ESAPI ha raggiunto la versione stabile possiamo rimboccarci le maniche e tornare a popolare il 
  %a{:href=>'https://github.com/thesp0nge/owasp-esapi-ruby'}repository
  del porting per Ruby che sto mantenendo.
%p
  Spero di poter annunciare anche io la versione 1.0 per quest'autunno come programmato in precedenza.
