---
created_at: 2011-05-19
excerpt: A volte trovare l'ispirazione è solo una questione di centimetri
kind: article
publish: true
lang: [it]
tags: [simple life, inspiration, colori, mondo, zen]
title: "Buongiorno mondo"
place: Gessate
---
%p
  Questo post è un post strano, uno dei pochi dove parlerò di introsprezione e
  non di codice.
%p
  Ultimamente mi ha colpito una pubblicità in un canale sul digitale terrestre
  dove si parla del Borneo. Se ne parla perché, ovviamente, l'uomo lo sta
  distruggendo. Tra un rant e l'altro lo spot mostra un uccello dal colore
  indaco che si gira e guarda in camera. Quei colori mi hanno letteralmente
  folgorato.
%p
  C'è un tesoro nascosto in mille angoli del mondo che forse non vedrò mai. C'è
  tuttavia un altrettanto eguale tesoro in mille angoli dei posti che frequento
  che comunque non vedrò mai stressato e pressato dal ritmo metropolitano.
%p
  Il 
  %a{:href=>'http://en.wikipedia.org/wiki/Downshifting'}
    downshifting
  non è solo una teoria, ma è applicato anche da alcuni miei amici che
  semplicemente hanno deciso di rallentare. Di lavorare il giusto per
  mantenersi in maniera decorosa lasciando fuori dalla porta lo stress e la
  pressione che la corsa verso il materialismo porta con sé.
  %br
  Io credo che se non sappiamo farci impressionare da un colore, da un profumo,
  da una sensazione o da un tramonto bhé potremmo anche rischiare di trovarsi
  al termine della nostra vita ed accorgendoci all'ultimo di averla buttata
  via.
%p
  Da domani quindi non si fa più nulla? No, bhé non esageriamo, però presi come
  punti saldi quei due o tre obiettivi di lungo termine che mi sono dato,
  proverò a rallentare. Proverò a godermi la mia famiglia. Proverò a
  rallentare. Per non trovarmi al termine dei miei giorni con un pungo di
  mosche in mano.

JBGJ254VD2RC

