---
created_at: 2011-05-19
excerpt: A volte trovare l'ispirazione è solo una questione di centimetri
kind: article
publish: true
lang: [it]
tags: [simple life, inspiration, colori, mondo]
title: "Buongiorno mondo"
place: Gessate
---
%p
  JBGJ254VD2RC
