---
created_at: 2011-06-07
excerpt: Creare una lista di cose da fare può aiutare ad ampliare le proprie prospettive.
kind: article
publish: true
lang: [it]
tags: [simple life, gtd, zen]
title: "Fai una lista di cose da fare ed il mondo è un posto migliore"
place: Gessate
---

%p
  Qualche giorno fa in TV è passato il film
  %a{:href=>'http://it.wikipedia.org/wiki/Non_%C3%A8_mai_troppo_tardi_(film_2007)'}
    'Non è mai troppo tardi'.
  %br
  Jack Nicholson e Morgan Freeman (2 grandiosi attori) sono due malati
  terminali che affidano ad una lista delle cose da fare prima della fine, le
  loro ultime speranze e anche il loro omaggio alla vita.
%p
  Il film in sé è illuminante. Ti fa pensare che spesso sprechiamo
  letteralmente il nostro tempo e non ci godiamo a fondo la nostra vita che,
  per inciso, è una sola e anche abbastanza breve se comparata al trilione di
  cose che ci sono da vedere e fare in questo "cazzo di mondo fantastico".
%p
  Preso dalla smania di applicare il GTD ho pensato che potesse essere fico
  crearsi una lista di "Cose assolutamente da fare", anche ora che sono nel
  pieno delle mie energie. Ovviamente ho coinvolto mia moglie e ci siamo
  lanciati nell'immaginare tutta una serie di cose (ovviamente romantiche) da
  fare nella nostra vita in due.
%p
  Rileggendo quella lista, mi sento pervadere da un'energia nuova. Una voglia
  incredibile di raggiungere quei traguardi che io e mia moglie abbiamo messo
  nero su bianco. Incredibile quando darsi degli obiettivi e scriverli possa
  spingerti verso il traguardo. 
%p
  Riflettendo su quanto bene mi abbia fatto questo esercizio di stile, ho
  pensato di creare la stessa cosa per i miei progetti software nella speranza
  di poter correre verso la meta avendo dei punti nero su bianco che mi
  ricordano le cose da fare prima del capolinea.
