---
created_at: 2011-06-01
excerpt: Un nuovo layout per thesp0nge.com... ancora più rubish.
kind: article
publish: true
lang: [it]
tags: [simple life, css, nanoc, blog, restyle, haml]
title: "Nuovo layout"
place: Gessate
---

%p
  In questa ultima settimana, nei ritagli di tempo sono stato abbastanza preso
  nel dare una rinfrescata al layout del mio blog.
%p
  Ho reso meno spartano il tutto, rivisto un po' l'HTML generato da nanoc e
  dato ampi colpi di spazzola al CSS.
%p
  Spero vi piaccia. Fatemi sapere se ci sono bug o cose da migliorare... come
  ad esempio il posizionamento del footer :-)
