---
created_at: 2011-06-15 13:12:55 +0200
excerpt: Il sorriso di un bimbo, i colori di un tramonto, la brezza del vento ed il profumo d'estate. Tutte cose che sfuggono concentrati solamente sugli aspetti materiali della vita.
kind: article
publish: true
lang: [it]
tags: [zen, simple life, downshift]
title: "Riprendiamoci le nostre vite"
place: Gessate
---

%p
  %a{:href=>'http://merbist.com/'}
    Matt Aimonetti
  è un hacker. Ha scritto del gran codice e ieri ha annunciato le sue dimissioni da 
  %a{:href=>'http://merbist.com/2011/06/10/sayonara-sony'}
    Sony.
%p
  Il post, tra le motivazioni contiene un'affermazione importante:
  %cite
    I don’t want to live to work, but rather, work to live.
  %br
%p
  Forse occorrerebbe solamente ricordarci che non siamo immortali, che il
  nostro tempo è limitato e scorre veloce e che un giorno potremmo rimpiangere
  il tempo perso correndo dietro a fama e successo.
%p
  Prendiamo Matt... sicuramente è un grande e lavorare in una big corporation
  non lo aiutava perché politiche interne e burocrazia si contrapponevano alla
  meritocrazia. Questo porta alla disillusione, alla depressione e spesso a
  vedere come le dimissioni come unica via d'uscita 
  %a{:href=>'http://unicornfree.com/2011/when-your-job-is-killing-you-slowly/'}
    plausibile.
%p
  Un altro enorme difetto delle big corporation, secondo me è questo. Essendo
  bene o male tutti uniformati o spinti verso l'uniformità e dove l'eccellenza
  è vista quasi con invidia da parte di tutti, ben presto la gente non da il
  proprio 100% ma semplicemente tira a campare.
%p
  In questo caso, il management è portato a valutare una persona non tanto per
  la qualità di quello che fa ma per il tempo e la dedizione che da alla causa
  aziendale.
  %br
  Mi domando, ma se io sono bravo e i miei task li faccio in 5 ore come mai
  sono valutato nello stesso modo di un altra persona meno portata in quel
  ruolo che ne impiega 10?
  %br
  Per non sapere né leggere né scrivere spesso si da dello scansafatiche al
  primo e invece del dipendente fidelizzato al secondo.
%p
  Ecco, uno studio medico dice che probabilmente il secondo (soprattutto se va
  avanti a straordinari spesso nn pagati) morirà 
  %a{:href=>'http://urlin.it/1ee7a'}
    giovane.
%p
  Forse la soluzione è uscire dalle big corporation?
