---
created_at: 2011-06-14 14:54:27 +0200
excerpt: codesake.com was born in my mind as a code review platform. But this makes so difficult writing a minum viable product. That's the reason I want to start with something easier.
kind: article
publish: true
lang: [en]
tags: [startup, codesake, code review, application security, appsec]
title: "Some preliminary steps before codesake.com first line of code"
place: Gessate
---

%p
  Two months ago, I started talking about 
  %a{:href=>'http://www.codesake.com/news/hello_world'}
    codesake.com, 
  the code review platform I want to build in order to give developers a fancy
  way to share their secure coding experience.
%p
  Working on side projects and startups is 
  %strong
    difficult
  when having a day time job and you're not a freelancer so you don't have the
  freedom to schedule your work time, and your work load as well.
%p
  In order to give the world a minimum viable product, I need to refactor the
  initial idea and having the things done.
  %br
  I have to break the problem in smaller tasks and achieve some very quick goal
  to attract people and let them excited.
%p
  I was wondering for a good answer and I found it while thinking about an iOS webapp I want to write. 
  %br
  There are some great code snippets managers hanging around, but none of them fullfils the following:
  %ul
    %li 
      allow building a network of coders to send snippets
    %li 
      allow people to annotate other people work
    %li 
      allow inline manual code review
    %li 
      allow sharing via 
      %a{:href=>'http://gist.github.com'}
        gist
%p
  Since I have to start writing something I'll start coding this tiny mobile
  stuff. The iOS application will let people authenticate with their
  codesake.com accounts (and then to their github one) and will let people
  share and manually review their friends' code.
%p 
  Having this can be the first step forward automatic code review behind the
  scene.


