---
created_at: 2011-06-16 13:06:14 +0200
excerpt: Nella vita non si dovrebbe mai mentire, ci fai brutta figura e basta. In campo professionale poi, mentire equivale a mettere alla berlina l'integrità della persona stessa. Se poi menti, in campo professionale, attraverso il web ad una persona che si occupa di appsec allora te le vai a cercare!
kind: article
publish: true
lang: [it]
tags: [ruby, seo, freelance, web developer, business developer, integrità, valori]
title: "Sul web e nella vita è meglio non mentire mai. il caso del freelancer che si propone"
place: Gessate
---

%p
  Succede che sulla 
  %a{:href=>'mailto:paolo@armoredcode.com'}
    mail 
  di 
  %a{:href=>'http://www.armoredcode.com'}
    armoredcode
  arrivi una mail che mi invita a provare i servizi professionali di un certo signor X.
%p
  Il signor X si propone come esperto SEO per sollevare agli onori della cronaca web il mio blog
  %a{:href=>'http://thesp0nge.com'}
    thesp0nge.com
  che state leggendo or ora.
%p
  Le classiche parole altisonanti che fanno sembrare il professionista la big
  corporation da 300 dipendenti e 50M€ di fatturato. Sarà che io sono per poche
  frasi sincere, semmai è il resto che parla per me, ma io di sentire paroloni
  come 'leader di mercato', '360 gradi', 'team di esperti' in bocca ad un
  freelancer proprio nn ce la fo.
%p
  Tutti noi dobbiamo campare, tutti noi vogliamo fare biz dev, ma combatti la
  tua battaglia giocando pulito e sincero. Sei il top come esperto SEO? Dimmi
  che sei l'esperto che ha curato il progetto X e Y non parlarmi come se fossi
  la società di consulenza che mi scrive da New York.
%p
  Vabbé piccola digressione... nonostante il mio blog sia la mia piccola
  palestra anche per i concetti di SEO, voglio andare a vedere il suo sito e,
  come faccio automaticamente, guardo com'è fatto il sorgente HTML.
  %br
  Mi colpisce subito il tag html
  %pre
    %code{:class=>'language-ruby coderay'}
      :escaped
        <html dir="ltr" lang="en-US">
%p
  Il sito è in italiano, perché dire al mondo che parlerai in lingua inglese?
  Conto poi la bellezza di 6 file CSS e 18 file javascript inclusi in quella
  che è una one page site. Sarai il guru del SEO ma lato frontend qualcosina da
  ottimizzare per il caricamento del sito sarebbe auspicabile.
%p
  Continuo il mio viaggio nell'html ed arrivo ad un'intera sezione commentata
  nel footer. In prima istanza penso ad un refuso... a vecchi link ed il mio
  lato hackish mi spinge a pensare subito di seguirli per vedere se esistono
  ancora. 
  %strong
    Security tip:
  non commentate le porzioni di sito che non volete far visualizzare
  all'utente perché obsolete. Rimuovetele proprio e togliete i link dall'HTML.
  Anche per un fatto di pesantezza della pagina.
%p
  I link però non sono relativi... sono assoluti e mi portano in Australia. Mi
  portano al sito di una web agency esperta di tematiche SEO. Mi portano ad un
  sito che ha le stesse immagini nello slideshow, gli stessi colori, la stessa
  interfaccia... ehi, un attimo... è proprio lo stesso sito.
%p
  Sono andato a fare un whois per capire se magari questo signor X è in realtà
  uno startupper in Australia che ha anche un sito italiano (anche se di un
  dominio completamente diverso).
%p 
  No no, son proprio due cose diverse. Quindi questo signor X ha fatto un wget
  del sito, cambiato qualcosina e messo online in italiano sul suo dominio.
  %br
  %strong
    Fail 
  totale. E come sono arrivato io a questa conclusione, ci arriva
  chiunque... se vuoi copiare almeno fallo bene e togli il codice del sito
  originale.
  %br
  Se proprio vuoi copiare, perché sinceramente se questo è il tuo biglietto da
  visita io cosa posso pensare? Di darti in mano la mia strategia digitale? 
  %em
    Are you kidding at me?
%p
  Vai, ti crei 2 pagine statiche, paghi un designer o ti scrivi il CSS da solo ma gioca pulito.
  %br
  Anzi, ancora meglio.
  %br
  Chiama
  %a{:href=>'mailto:paolo@armoredcode.com'}
    me
  e chiedimi un preventivo per un minisito in Rails. Ti faccio un buon prezzo, promesso!
%p
  Per i curiosi, il sito originale è 
  %a{:href=>'http://localwebsitemarketing.com.au/'}
    questo.
  No quello che ha copiato non lo scrivo.
