---
created_at: 2011-06-23 11:10:22 +0200
excerpt: Ispirato da numerose pagine 'about me' e desideroso di dare a chi non mi conosce un breve riassunto di quello che so fare, ho giocato con wordle ed ho creato una tag cloud.
kind: article
publish: true
lang: [it]
tags: [me, tag cloud, wordle, about me]
title: "Me stesso in the cloud"
place: Gessate
---

%p
  Su 
  %a{:href=>'http://sixrevisions.com/design-showcase-inspiration/30-inspiring-about-me-pages/'}
    SixRevision
  c'è un post interessante sulle 30 pagine about me più interessanti.
  Ragionandoci sopra e vedendo gli esempi che ci sono in rete, la 
  %a{:href=>'/about.html'}
    mia
  pagina about sembra proprio dilettantesca.
%p
  Devo trovare qualche arricchimento... qualche frizzo e lazzo che metta in
  risalto quello che so fare... così almeno non mi sento più dire che dal mio
  cv non si capisce se sono esperto o meno in application security.

%p 
  Sono partito da questa tag cloud che racconta di me. Che ne pensate?
  %img{:src=>'http://thesp0nge.com/images/thesp0nge_tagcloud.png'}

