---
created_at: 2011-07-05 09:55:30 +0200
excerpt: L'uso del nome Owasp come leva di marketing è potente. Andrebbe secondo me articolato per essere usato in maniera etica. 
kind: article
publish: true
lang: [it]
tags: [appsec, owasp, buzzword]
title: "Il potere della parola owasp"
place: Gessate
---

%p
  Volente o nolente, nel corso degli anni 
  %a{:href=>'http://www.owasp.org'}
    Owasp
  è diventata una potente leva per gli IT Manager per parlare di application security.

%p
  Per carità, questo è un bene. Le tematiche di appsec devono essere diffuse,
  devono permeare i compartimenti IT, devono entrare nei progetti ed i
  volontari di Owasp devono lavorare molto per ottenere questo.
%p
  Chiaramente, tutti noi abbiamo poi un lavoro vero che ci consente di mangiare
  e le attività che ci legano a questo potente brand, perché non si può negare
  che lo sia, portano di sicuro effetti positivi alla nostra carriera.
%p
  Spesso però si gioca con l'ignoranza, involontaria per lo più, delle persone
  IT sui temi di appsec. In questi casi si usa l'appartenenza ad Owasp come uno
  speciale status che eleva il professionista in un'elite.
  %br
  Ne senti di gente che dice "ah, ma io sono membro Owasp". Alcuni si spingono
  oltre e si autoeleggono nel "board di Owasp" quando parlano coi propri
  interlocutori.
%p
  Prendo come spunto questo 
  %a{:href=>'http://www.flane.it/course/fl-wapt-11'}
    corso.
  %br
  Nella descrizione, in maniera pomposa si dice che:
  %br
  %em
    L’intero programma del corso è stato strutturato secondo metodologie di
    verifica internazionale OWASP di cui il corpo docenti è membro.
%p
  Io conosco i docenti e garantisco che hanno le competenze tecniche per erogare questo corso al di là del fatto di essere membri di un'associazione opensource no profit, di cui tutti possono diventare 
  %a{:href=>'https://www.owasp.org/index.php/Membership#How_Can_I_Become_An_OWASP_Member.3F'}
    membri.
  %br
  Tutti possono diventare membri di Owasp. Tutti possono partecipare
  attivamente ad Owasp. Tutti possono diventare Project Leader di Owasp.
  Ripetiamolo... tutti.
%p
  Io non sono speciale perché l'ho fatto 4 anni fa. Semmai la community potrà
  apprezzare o meno il lavoro che faccio costantemente. Ma di sicuro io non
  sono più fico di altri perché ho fatto partire Orizon o perché sono R_n_D
  director di Owasp Italia... 
%p
  Mi piace enfatizzare il fatto che quello che rende i membri di Owasp,
  speciali, non è tanto il fatto che siano membri ma il fatto che facciano
  %em
    deliverables.
  %br
  Se persone lavorano attivamente su progetti, aiutano a creare conoscenza,
  fanno speech, aiutano ad organizzare conferenze, allora sì che ha un senso
  dire "bhé sono abbastanza attivo in Owasp". Di sicuro, pagare una fee annuale
  per supportare il progetto ed essere membro non comporta molti sforzi.
%p
  Concludo. La O di Owasp sta per 'Open'. Il progetto è aperto a tutti. Tutti
  possono partecipare e tutti sono invitati a partecipare, qualunque sia il
  livello tecnico. Nessuno è nato imparato e nessuno lì dentro punta il dito
  contro le persone che voglio imparare... anzi, sono loro la nostra prima
  risorsa.
%p
  Poi boh... per chi continua a considerare Owasp solo una parola da spendere
  in prevendita, bhé non è che ha capito molto. Però parlatene pure... magari
  il vostro interlocutore è più smart di voi :-)
