---
created_at: 2011-07-12 10:24:44 +0200
excerpt: Sosasta, una filiale del più noto Groupon è stata attaccata semplicemente chiedendo a Google come entrare. Wordpress 3.1.3 vulnerabile a SQL injection e potenzialmente un bel po' di blog e siti a rischio. La strada per avere un web sicuro è veramente molto lunga.
kind: article
publish: true
lang: [it]
tags: [security, application security, appsec, owasp, google, sql injection, password]
title: "Sql injection? A volte basta chiedere a Google"
place: Gessate
---

%p
  Sono ore calde per il Web. 
  %a{:href=>'/2011/07/07/le_universita_italiane_e_l_insecure_cryptographic_storage.html'}
    Cinque giorni fa
  le Università italiane erano sotto attacco e numerosi account con password in chiaro sono state diffuse in rete.
  %br
  E' notizia di oggi che 
  %a{:href=>'http://clubhack.com/sosasta-attacked-in-a-sasta-way/'}
    Sosasta.com,
  una sussidiearia di GroupOn è stata compromessa in un modo veramente semplice. Chiedendo a 
  %a{:href=>'http://www.hackersforcharity.org/ghdb/'}
    Google.
%p
  Il 
  %a{:href=>'http://www.hackersforcharity.org/ghdb/'}
    Google Hacking Database (GHDB)
  esiste almeno dal 2003, contiene query che mostrano quanta poca attenzione la gente abbia nel mettere cose online.
  %br
  Se io permetto che i miei 
  %a{:href=>'http://www.google.com/search?hl=en&lr=&ie=UTF-8&oe=UTF-8&safe=off&q=intitle%3A%22Index+of%22+passwd+passwd.bak'}
    file delle password
  vengano indicizzati, io 
  %em
    voglio
  farmi bucare.
%p
  Alcuni link che si ottengono sono fasulli e mirano a prendere in giro gli
  script kiddies là fuori che pensano basti questo per bucare un server, però
  ci sono situazioni in cui gli script kiddies hanno ragione... a volte basta
  veramente poco per fare danni.
%p
  Chiudo, segnalando che la versione 3.1.3 di Wordpress è vulnerabile a SQL Injection.
  %br
  Vista l'ampia diffusione di wordpress anche per creare siti istituzionali,
  non solo blog, il video che si può vedere
  %a{:href=>'http://infosecmedia.org/wordpress-under-sql-injection-attack/'}
    qui
  dovrebbe far preoccupare molte persone là fuori.

