---
created_at: 2011-08-25 08:55:16 +0200
excerpt: Un po' di considerazioni sparse. Dalle dimissioni di Steve Jobs, ai blog, al caldo torrido di quest'estate alle bottiglie d'acqua da un litro
kind: article
publish: true
lang: [it]
tags: [misc]
title: "Che ne è stato del bel fresco estivo? ciao steve..."
place: Gessate
---

%p
  Il risveglio è stato brusco in questo 25 Agosto (tra soli 4 mesi è Natale). Steve Jobs ha dato le proprie 
  %a{:href=>'http://www.apple.com/pr/library/2011/08/24Letter-from-Steve-Jobs.html'}
    dimissioni
  da CEO di
  %a{:href=>'http://www.apple.com'}
    Apple.
  %br
  Controllo meglio la data... non è un 
  %em
    april fool
  quindi è proprio vero. Tim Cook è il nuovo CEO e Jobs è l'uomo che volente o
  nolente ha preso una società sul baratro del fallimento e l'ha fatta tornare
  ai fasti del tempo che fu.
%p
  Sì perché si può essere detrattori di Jobs, si può dire che i Mac costino
  tanto confrondandoli con gli acer che compri al supermercato o si può anche
  dire che l'iPhone sia una piattaforma 
  %a{:href=>'http://www.scribd.com/doc/62909369/McAfee-Threats-Report-Q2-2011'}
    chiusa e limitata,
  di sicuro però non si può negare una cosa. Jobs fu fatto fuori ai tempi della
  nascita del Macintosh, la Apple venne rilegata al 3% del mercato mondiale ed
  era ad un passo dal baratro.
  %br
  Il Jobs imprenditore la seppe riprendere per mano e seppe sfornare chicche
  come i portatili con il body costituito da un unico pezzo, il touchpad con le
  gesture, il macbook air, l'ipod, l'iphone, l'ipad, l'ipod touch.
  %br
  Odiatelo pure quest'uomo, ma ditemi un altro nome che può dire di aver
  portato sul mercato così tanti prodotti nel giro di poco tempo... prodotti
  che sono diventati (e qui i loro detrattori dovranno ammettere) il best
  seller nelle rispettive fasce di mercato.
%p
  Steve Jobs è un imprenditore con i contro coglioni, scusate il francesismo.
  Period.
  %br
  Io continuo a sostenere che il mio iBook G4 del 2004 è più stabile delle
  nuove macchine, ma sono fiducioso per l'apple che verrà.
%p
  Sono meno fiducioso invece se penso alla mia capacità di leggere le campagne
  di marketing. Non le capisco proprio.
  %br
  Prendete per esempio le acque naturali. Ora stanno lanciando il 
  %strong
    formato "la litro".
  %br
  Formato più pratico... più ergonomico... più giovane... più ecologico ma
  dannazione costa il doppio della bottiglia da un litro e mezzo della stessa
  marca. 
  %br
  Dannazione, ma mi vuoi dare un vero plus per cui io consumatore che di
  bottiglie d'acqua ne compra tante sia invogliato a scegliere di pagarti il
  doppio per una bottiglia più piccola?
  %br
  Veramente, io non capisco il rationale dietro queste mosse di mercato. Perché
  mettere in pista un prodotto del genere? Quale il target? L'utenza snob delle
  palestre per la quale fa fico tenersi in mano una bottiglia da un litro piena
  d'oro? Mi sa che anche l'utenza snob piuttosto va verso la bottiglia da mezzo
  litro che costa meno.
  %br
  Se qualcuno quindi mi sa dire perché la bottiglia di sant'anna da 
  %a{:href=>'http://www.consiglidicasa.com/joomla/index.php?option=com_content&view=article&id=289:acqua-santanna-in-formato-da-1-litro&catid=44:categoria-al-supermercato&Itemid=14'}
    litro
  la debba pagare 0.40€/l mi lasci un commento. Nel frattempo continuerò a
  spendere i miei 0.20€/l per il formato da 1.5l.
%p
  Avete notato vero il caldo che fa a Milano in questo fine agosto? E' un caldo
  torrido ed insostenibile. Viene quindi in qualche modo giustificata la mia
  scelta da consumatore di acque.
  %br
  Tuttavia non è di questo che volevo parlare, ma della scarsità di buone fonti
  di lettura nei momenti in cui il cervello va in tilt tra una riga di codice e
  l'altra.
  %br
  Ieri stavo cercando qualche blog interessante che parli di application
  security e che sia in italiano. Cercavo dei competitor a questo blog quindi.
  %br
  %strong
    Non ne ho trovato uno decente.
%p
  Aiutatemi, dove siete? Non è possibile che tutti i blog di application
  security in italiano (escludendo
  %a{:href=>'http://www.matteocavallini.com/'}
    Matteo Cavallini
  ), siano blog che richiamano notizie o che mi fanno il rilancio dell'ennesima
  vulnerabilità di wordpress.
  %br
  Nessuno fa ricerca? Nessuno lavora a paper? Nessuno scrive codice? 
  %br
  Va bene anche una recensione prodotto ogni tanto, ma anche scrivere del
  contenuto originale ogni tanto non è male!
%p
  Se quindi volete segnalarmi il vostro blog, lo leggo volentieri aspettando settembre...
  


