---
created_at: 2011-09-01 09:23:36 +0200
excerpt: This post talks about yesterday's mirage commit, the libcrawler code and the mirage project name
kind: article
publish: true
lang: [en]
tags: [appsec, mirage, code review, sast, owasp, owasp orizon]
title: "Your crawling experience and on about mirage's name"
place: Gessate
---

%p
  %a{:href=>'https://github.com/thesp0nge/mirage/commit/598d8d6a8c89b8db83d3713a7202dfba9ee9aa18'}
    Yesterday
  was a very productive day for mirage project. In brief I touched the main.c
  source file giving a rekon of a real security tool. I added some time
  handling routines and I bumped the version number to 0.10.
%p
  However the very 
  %a{:href=>'https://github.com/thesp0nge/mirage/commit/2955fe0e59036811dd19eabd8625d45bf39d6624'}
    previous commit
  was even more important due to the fix on data copying in 
  %a{:href=>'https://github.com/thesp0nge/mirage/blob/2955fe0e59036811dd19eabd8625d45bf39d6624/src/list.c'}
    list.c
  file.
%p
  I'm very happy because with this fix, mirage is ready for a real source code
  crawling capability, that it's the easiest thing to add to a static analyzer.
  %br
  I'm not sure I'll add some context aware capability since this change will
  add a lot of difficulties in writing libcrawel lex grammar. I don't want to
  move there the intelligence to detect comments or programmin language
  specific stuff that it will change crawling results.
  %br
  So, blame at me but source crawling will have a 
  %strong
    lot of false positives.
%p
  I know and I really don't care about this since I use crawling just to
  address manual review. So please use mirage crawling results just to
  spotlight the source code areas where you 
  %strong 
    might
  find something interesting. But please, check this out manually. 
  %br
  Don't trust 
  %strong
    crawling.
  Always double check.
%p
  Owasp has it's own page about
  %a{:href=>'https://www.owasp.org/index.php/Crawling_Code'}
    source code crawling.
  Of course, mirage will implement the recommendiations you can find on the
  Owasp site.
%p
  When I first designed 
  %a{:href=>'https://www.owasp.org/index.php/Category:OWASP_Orizon_Project'}
    Owasp Orizon
  I introduced mirage as just a application modeling engine choosing that name
  with this meaning: building an error prone source code modeling engine is a 
  %strong
    mirage.
  %br
  I still think this one even today that mirage is going to be Owasp Orizon
  successor.
  %br
  I don't think mirage will be the final name and I want to use this period of
  time that the project is mostly unknown to find a good name with a good logo
  to address the Orizon succession.
  %br
  The only decided issue is that the Owasp Orizon project is 
  %strong
    frozen
  and you have to consider no longer mantained.
