---
created_at: 2011-11-29 08:16:55 +0100
excerpt: Un aggiornamento a 360 gradi passando da un cambio professionale, un netbook rotto, un crociato lesionato e tanto codice da scrivere.
kind: article
publish: true
lang: [it]
tags: [simple life]
title: "Settembre, ottobre e novembre duemilaeundici"
place: Gessate
---

%p
  Allora, tutti quanti avranno notato che questo blog ha vissuto momenti di
  stasi nell'ultimo trimestre... non sono stato molto attivo. Un primo motivo è
  stato sicuramente il cambio in ambiente professionale.
%p
  Tornare ad occuparmi di application security a tempo pieno è stato ovviamente
  un sogno che si avverava. Il cambio ha comportato però il mio distacco del
  mio adorato macbook pro che mi aveva accompagnato in giro per il web
  nell'ultimo periodo, quindi poco spazio per hacking e per il blogging in
  metropolitana o la sera quando Daniele e Francesca sonnecchiano felici.
  %br
  Come sto scrivendo ora? Bhé mi sono comprato un bellissimo #acer #aspire da
  10" che dopo una settimana ha pensato bene di lasciarmi a piedi. Dopo aver
  litigato con #ups per una settimana buona, finalmente ho una calcolatrice con
  manie di grandezza alla quale affidare qualche bit per futura memoria.
%p
  Nel frattempo, mentre mio figlio imparava a dire 
  %a{:href=>'http://pernataleiovorrei.com'}
    Buon Natale
  io mi lesionavo il crociato anteriore destro in allenamento, di fatto finendo
  dopo 2 settimane la stagione sportiva.
  %br
  Attendo i risultati della risonanza ma il verdetto è quello di andare sotto i
  ferri e farmi avere pezzi nuovi.
  %br
  Ne avrò per 6/7 mesi tra fermo post operatorio e riabilitazione... dio
  benedica il TCP/IP. Quindi cari amici, per vedere thesp0nge indossare con
  orgoglio la cintura nera temo dovremo aspettare tutti un po'... di sicuro se
  ne parla nell'inverno 2012 (se il mondo non finisce prima).
%p
  Ho un backlog di cose da scrivere immenso e, colpa del SEO, ormai non metterò
  più che lo scorso giovedì mio padre manca ormai da 25 anni e questo è stato
  accompagnato da "Vola piano" dei Timoria e Daniele che pogava felice anche su
  "Whiskey in the Jar". Non metterò più le mille idee che ho su #aurora e
  #codesake anche perché devo tradurle in codice e sono in ritardo spaventoso.
%p
  Ma tra poco è Natale e questo, a dispetto di tutto, volevo dirlo anche oggi.


